@import '~@angular/material/theming';
@import '../../../../../styles-variables';

:host {
    flex:auto;
}

.full-content {
    @media(max-width: $mobile-breakpoint) {
        padding-top: 16px;
    }
    .button-wrapper {
        width: 36px;
        margin: 0 auto;
        cursor: pointer;
        img {
            width: 100%;
        }
    }

    .form-wrapper {
        margin:0 auto;
    }

}