@import '../../../../styles-variables.scss';

.thumbnails {
    display:grid;
    @media (max-width: 599px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 600px) {
        grid-template-columns: repeat(4, 1fr);
    }
    grid-template-rows: auto;
    grid-gap:8px;
}

.add-image {
    background-color: $medium-dark-background;
    width:100%;
    cursor: pointer;
    img {
        width: 100%;
    }
    &::before {
        content: "";
        padding-bottom: 100%;
        display: inline-block;
        vertical-align: top;
    }
}

.image-wrapper{
    position: relative;
    img {
        width:100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: .5;
        mat-icon {
            top:-12px;
            right:-12px;
            position: absolute;
            cursor: pointer;
        }
    }
}

.bundle-categories {
    margin-bottom: 16px;
}

.info {
    font-style: italic;

    &.hint {
        margin-top:16px;
        margin-bottom:16px;
    }

    &.bottom {
        margin-top:0px;
    }

    &.tag-hint {
        margin-top:0px !important;
    }

}

.video {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:8px;
    @media (max-width: 599px) {
        height: calc((100vw - 48px) / 3);
    }
    @media (min-width: 600px) {
        height: 144px;
        grid-template-columns: repeat(4, 144px);
    }
}

.categories {
    @media (min-width: $desktop-breakpoint) {
        display:grid;
        grid-gap: 8px;
        grid-template-columns: repeat(3, 189px);
    }
}

.image-error {
    color: red;
    margin-bottom:8px;
}

.loading-wrapper {
    display: grid;
    align-items: center;
    align-content: center;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.dot-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto;
    .dot {
        height: 25px;
        width:25px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid gray;
        &.selected {
            box-shadow: 0px 0px 0px 1px black;
        }
    }
}

.price-wrapper {
    min-height: 42px;
    .fees {
        color: #2a5373;
        min-height: 42px;
        .earnings {
            width: 100%;
            display: grid;
            font-weight: 600;
            @media (min-width: 600px) {
                width: 50%;
            }
            grid-template-columns: 1fr auto;
            margin-bottom: 8px;
            &.hide {
                visibility: hidden;
            }
        }
        .breakdown {
            &.hide {
                visibility: hidden;
            }
        }
    }

    .error {
    }

}

.button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}