<app-modal [title]="title" (close)="onClose($event)">
    <ng-container *ngIf="!loading">
        <div class="info hint">
            *We recommend at least one photo wearing the product
        </div>
        <div *ngIf="imageError" class="image-error">
            Please upload at least one photo
        </div>
        <div *ngIf="imageUploadError" class="image-error">
            An error occured upoloading the image, please try again
        </div>
        <div *ngIf="images.length" class="info">
            Cover Photo
        </div>
        <div *ngIf="saveError" class="image-error">
            Unable to create listing. Check your internet connection and try again.
        </div>
        <div class="thumbnails" dragula="images" [(dragulaModel)]="images">
            <div class="image-wrapper" *ngFor="let image of images; let i = index">
                <img [src]="image.cropped">
                <div class="overlay">
                    <mat-icon (click)="onRemoveImage(url)">cancel</mat-icon>
                </div>
            </div>
            <div *ngIf="!mobile" class="add-image" (click)="input.value = null; input.click()"><img
                    src="./assets/images/plus.png"></div>
            <div *ngIf="mobile" class="add-image" (click)="inputMobile.value = null; inputMobile.click()"><img
                    src="./assets/images/plus.png">
            </div>
        </div>
        <div class="info hint">
            Upload a video wearing the product
        </div>
        <div *ngIf="!video" class="video">
            <app-video-uploader (completed)="videoUploaded($event)" [id]="id"></app-video-uploader>
        </div>
        <div class="thumbnails" *ngIf="video">
            <div class="image-wrapper">
                <img [src]="videoThumbnail">
                <div class="overlay">
                    <mat-icon (click)="onRemoveVideo()">cancel</mat-icon>
                </div>
            </div>
        </div>
        <input #input type="file" style="visibility:hidden; height:0px;" (change)="imageChanged($event)" />
        <input #inputMobile type="file" style="visibility:hidden; height:0px;" (change)="imageChanged($event)" />
    </ng-container>
    <form novalidate [formGroup]="form">
        <div>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Product Title" formControlName="title" />
            </mat-form-field>
        </div>
        <div class="description">
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="Product Description" formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class="categories">
            <ng-container formArrayName="categories" *ngFor="let item of categoryArray['controls']; let i = index;">
                <div [formGroupName]="i">
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Category" class="form-control"
                            (selectionChange)="selectCategory($event, i)" formControlName="id">
                            <mat-option *ngFor="let cat of categories[i]" [value]="cat.id">{{cat.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
        <div class="double-field">
            <div class="size">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Size" class="form-control" formControlName="size">
                        <mat-option *ngFor="let size of currentSizes" [value]="size.key">{{size.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="color">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Color" class="form-control" formControlName="color">
                        <mat-option *ngFor="let color of colors" [value]="color.key">
                            <div class="dot-wrapper">
                                <div class="dot" [style.background-color]="color.color"></div>
                                <div>{{color.value}}</div>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="info hint bottom">* 1-2 pounds is most common for clothing, small items such as Jewelry are
            typically less
            than 1 pound, and heavier items such as boots are typically 2-4 pounds</div>
        <div class="weight">
            <mat-form-field appearance="outline">
                <mat-select placeholder="Shipping Weight" class="form-control" formControlName="weight">
                    <mat-option *ngFor="let weight of weights" [value]="weight.key">{{weight.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="brand">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Brand" formControlName="brand" />
            </mat-form-field>
        </div>
        <div class="info hint tag-hint">
            Press enter after every tag
        </div>
        <div class="tags">
            <mat-form-field appearance="outline">
                <mat-chip-list #chipList>
                    <mat-chip [selectable]="false" (removed)="onRemoveTag(tag)" [removable]="true"
                        *ngFor="let tag of tags">
                        {{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input matInput [matChipInputFor]="chipList" type="text" class="form-control" formControlName="tag"
                        (keyup)="onKeyup($event)" placeholder="Tags (up to 16)" />
                </mat-chip-list>
            </mat-form-field>
        </div>
        <div class="double-field">
            <div class="price">
                <mat-form-field appearance="outline">
                    <input type="text" currency matInput placeholder="Price" formControlName="price" />
                </mat-form-field>
            </div>
            <div class="retail-price">
                <mat-form-field appearance="outline">
                    <input type="text" currency matInput placeholder="Original Retail Price"
                        formControlName="retailPrice" />
                </mat-form-field>
            </div>
        </div>
        <button mat-stroked-button [disabled]="!form.valid" (click)="onSave()" [class.primary]="true">
            List
        </button>
    </form>
</app-modal>
<div class="loading-wrapper" *ngIf="loading">
    <div class="loading">
        <mat-spinner diameter="30"></mat-spinner>
    </div>
</div>

<ng-container *ngIf="crop">
    <app-image-cropper [showInfo]="true" (cancel)="onCloseCropper($event)" (crop)="onImageCropped($event)"
        [image]="originalImage">
    </app-image-cropper>
</ng-container>