<div class="order-wrapper">

    <div class="product-image">
        <div [class.clickable]="detail" (click)="onImageClick()" class="image-wrapper mat-elevation-z2">
            <img class="product" [src]="order.product.images[0].cropped">
        </div>
    </div>
    <div class="product-info">
        <div class=details>
            <div *ngIf="!detail" class="mobile-title mat-body">
                <div class="info-wrapper">
                    <div *ngIf="order.status === 'shipped'">
                        Shipped {{order.shipDate | date}}
                    </div>
                    <div *ngIf="order.status === 'ordered'">
                        Ordered {{order.orderDate | date}}
                    </div>
                    <div *ngIf="order.status === 'delivered'">
                        Delivered {{order.deliveryDate | date}}
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="info-inner">
                    <div class="title">
                        {{order.product.title}}
                    </div>
                    <div class="status" *ngIf="!detail">
                        <div *ngIf="order.status === 'shipped'">
                            Shipped {{order.shipDate | date}}
                        </div>
                        <div *ngIf="order.status === 'ordered'">
                            Ordered {{order.orderDate | date}}
                        </div>
                        <div *ngIf="order.status === 'delivered'">
                            Delivered {{order.deliveryDate | date}}
                        </div>
                    </div>
                    <div *ngIf="!seller" class="seller">
                        Seller: {{order.seller.username}}
                    </div>
                    <div *ngIf="seller" class="seller">
                        Buyer: {{order.buyer.username}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>