<div class="product-container-wrapper">
    <ng-container *ngIf="mobile && !loading">
        <div class="profile-container" (click)="goToProfile($event)">
            <div class="profile-image-wrapper">
                <app-avatar [image]="product.seller.profileImageUrl"></app-avatar>
            </div>
            <div class="product-user-name">
                {{product.seller.username || 'Relovely Seller'}}
            </div>
        </div>
        <owl-carousel-o [options]="carouselOptions" (changed)="carouselTranslated($event)" appOwlPreventClick
            #featuredCarousel>
            <ng-template *ngIf="product.videos[0]" carouselSlide>
                <div class="video-slide-wrapper">
                    <app-video-player [publicId]="product.videos[0].publicId" [controls]="true">
                    </app-video-player>
                </div>
            </ng-template>
            <ng-container *ngFor="let image of product.images, let i = index">
                <ng-template carouselSlide>
                    <a appClick target="_blank" (click)="viewCurrentImage(image)">
                        <img [src]="image.cropped" alt="" #imageElement>
                    </a>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <div class="info-container">
            <div class="info">
                <div class="product-name">
                    {{product.title}}
                </div>
                <div class="product-price">
                    {{product.price | appCurrency}}
                    <span *ngIf="product.retailPrice" class="retail">{{product.retailPrice | appCurrency}}
                    </span>
                </div>
                <div class="product-size">
                    <span class="title">Size:</span>
                    <strong>{{product.sizeId | appSize}}</strong>
                </div>
                <div class="product-size">
                    {{product.brand}}
                </div>
            </div>
            <div class="action">
                <ng-container *ngIf="!product.sold">
                    <app-button *ngIf="!seller" type="accent" (click)="purchase($event)">Buy Now</app-button>
                    <app-button *ngIf="seller" type="accent" (click)="edit($event)">Edit</app-button>
                </ng-container>
                <ng-container *ngIf="product.sold">
                    <div class="sold">This product is no longer available</div>
                </ng-container>
            </div>
        </div>
        <div class="product-details">
            {{product.description}}
        </div>
        <div class="tags">
            <div class="hashtag" *ngFor="let tag of product.tags">#{{tag}}</div>
        </div>
        <app-horizontal-product-list *ngIf="more && more.length" (clicked)="goToProduct($event)" [products]="more"
            [subtitle]="product.seller.username" [title]="'MORE FROM'">
        </app-horizontal-product-list>
    </ng-container>
    <div *ngIf="!mobile && !loading" class="breadcrumb-wrapper">
        <div class="breadcrumbs">
            <app-breadcrumbs [items]="navItems">
            </app-breadcrumbs>
        </div>
    </div>
    <div *ngIf="!mobile && !loading" class="grid-wrapper">
        <div class="image-wrapper">
            <div class="product">
                <div *ngIf="currentItem.publicId">
                    <div class="video-desktop-wrapper" [style.padding-bottom.%]="videoPadding"
                        [style.padding-top.%]="videoPadding">
                        <app-video-player [publicId]="product.videos[0].publicId" [controls]="true">
                        </app-video-player>
                    </div>
                </div>
                <img *ngIf="!currentItem.publicId" [src]="currentItem" (click)="viewCurrentImage()">
            </div>
            <div class="preview">
                <div *ngIf="product.videos[0]" class="video-desktop-wrapper">
                    <img (click)="setActiveItem(product.videos[0])" [src]="videoThumbnail">
                </div>
                <ng-container *ngFor="let image of product.images">
                    <span class="product-gallery__carousel-item" appClick (click)="setActiveItem(image)">
                        <img class="product-gallery__carousel-image" [src]="image.cropped" alt="">
                    </span>
                </ng-container>
            </div>
        </div>
        <div class="desktop-wrapper" *ngIf="!mobile">
            <div class="desktop-info-wrapper">
                <h1>{{product.title}}</h1>
                <div class="user-wrapper">
                    <app-avatar [image]="product.seller.profileImageUrl" (click)="goToProfile()">
                    </app-avatar>
                    <div>
                        {{product.seller.username || 'Relovely Seller'}}
                    </div>
                </div>
                <div class="product-price">
                    {{product.price | appCurrency}}
                </div>
                <div class="size-wrapper" *ngIf="product.sizeId">
                    Size: <strong>{{product.sizeId | appSize}}</strong>
                </div>
                <div class="size-wrapper" *ngIf="product.brand">
                    <strong>{{product.brand}}</strong>
                </div>
                <ng-container *ngIf="!product.sold">
                    <div class="button-wrapper">
                        <app-button *ngIf="!seller" type="accent" (click)="purchase($event)">Buy Now!</app-button>
                        <app-button *ngIf="seller" type="accent" (click)="edit($event)">Edit</app-button>
                    </div>
                </ng-container>
                <ng-container *ngIf="product.sold">
                    <div class="sold">This product is no longer available</div>
                </ng-container>
                <div class="description">
                    {{product.description}}
                </div>
                <div class="tags">
                    <div class="hashtag" *ngFor="let tag of product.tags">#{{tag}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template cdkPortal #viewImage="cdkPortal">
    <app-image-viewer [imageUrl]="currentImage" (close)="closeImage($event)">
    </app-image-viewer>
</ng-template>
<ng-template cdkPortal #productCreateModal="cdkPortal">
    <app-product-create [product]="editProduct" [sellerId]="currentUser.id" (saved)="onProductSaved($event)"
        (close)="close($event)">
    </app-product-create>
</ng-template>