@import '../../../../../styles-variables';

.product-container-wrapper {
    padding:16px;
    max-width: $desktop-width;
    margin: 0 auto;
    height:100%;
    background-color: $background-gray;
}

.profile-container {
    height:18vw;
    display:flex;
    flex-flow: row;
    align-items: center;
    padding:1vw;

    .profile-image-wrapper {
        width: 15vw;
    }
    .product-user-name {
        padding:5vw;
        font-weight: 300;
        font-size:.9em;
    }
}

.info-container {
    line-height: 1.4 !important;
    display:flex;
    flex-direction: row;
    .info {
        flex-grow: 1;
        .product-name {
            font-size: .9em;
            font-weight:500;
        }
        .product-price {
            font-size: .8em;
            font-weight:500;
            .retail {
                color: $pink-text;
                text-decoration: line-through;
            }
        }
        .product-size {
            font-size: .8em;
            .title {
                color: #a4a4a4;
                padding-right:8px;
            }
        }
    }

    .action {
        
    }
}

.product-details {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: .7em;
    font-weight:400;
}

.product {
    border-radius: 8px;
    padding:8px;
    box-shadow: 0 0 0 1px $medium-gray-background inset;
}

.product-details {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: .7em;
    font-weight:400;
}

.product-gallery {
 
}

.product-gallery__featured {
    padding: 2px;
    border-radius: 2px;
    height:auto;
    a {
        display: block;
        padding: 20px;
    }
}
.product-gallery__carousel {
    margin-top: 16px;
}

.product-gallery__carousel-item {
    cursor: pointer;
    display: block;
    box-shadow: 0 0 0 1px $medium-gray-background inset;
    padding: 4px;
    border-radius: 2px;
}
.product-gallery__carousel-item--active {
    box-shadow: 0 0 0 1px $dark-blue inset;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    .image-wrapper .product {
        background-color: white;
         img {
            height: 100%;
            box-sizing: border-box;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
         }
    }
}

.preview {
    margin-top: 16px;
    display:grid;
    grid-template-columns: repeat(auto-fill,130px);
    grid-auto-flow: row;
    grid-auto-columns: minmax(130px,1fr);
    overflow-x: hidden;
    column-gap: 1rem;
    span {
        height: 100%;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%; 
        img {
            height: 100%;
            box-sizing: border-box;
            max-width: 100%;
            width: 100%; 
        }
    }
}

.desktop-wrapper {
    box-shadow: 0 0 0 1px $medium-gray-background inset;
    margin:0px 16px 0px 16px;
    border-radius:8px;
    background-color: white;
    .desktop-info-wrapper {
        margin:16px 16px;
        height: 100%;
        .product-price {
            font-size:1.5em;
            font-weight: 400;
        }

        .description {
            font-size:1.2em;
            font-weight: 400;
            margin-top:2rem;
        }
    
        .product-size  {
            color: $light-gray !important;
        }
        h1 { 
            font-weight: 300;
            font-size: 2.0em;
            font-family: "Roboto", sans-serif;
        }

        .size-wrapper {
            margin-top: 8px;
            color: $light-gray
        }

        .button-wrapper {
            width:50%;
            margin-top: 16px;
        }
    }
}

.user-wrapper {
    div {
        margin-left: 8px;
    }
    margin-bottom: 20px;
    display:grid;
    grid-template-columns: 50px auto;
    align-items: center;
}