@import '../../../../../styles-variables';

:host {
    flex: auto;
}

.product-container-wrapper {
    padding:8px;
    max-width: $desktop-width;
    margin: 0 auto;
    @media ( min-width: $desktop-breakpoint) {
        height:100%;
    }
    background-color: $background-gray;
}

.profile-container {
    height:65px;
    display:flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 8px;

    .profile-image-wrapper {
        width: 15vw;
    }
    .product-user-name {
        padding:5vw;
        font-weight: 300;
        font-size:.9em;
    }
}

.info-container {
    line-height: 1.4 !important;
    display:flex;
    flex-direction: row;
    margin: 8px 4px;
    .info {
        flex-grow: 1;
        .product-name {
            font-size: 1.1em  !important;
            font-weight: 600  !important;
            font-family: 'Roboto Light', sans-serif !important;
        }
        .product-price {
            .retail {
                text-decoration: line-through;
                color: $pink-text;
            }
        }
    }
    .action {
        max-width: 40%;
    }
}

.product-details {
    margin: 0px 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1em !important;
    font-weight:400;
}

.product {
    border-radius: 8px;
    padding:8px;
    box-shadow: 0 0 0 1px $medium-gray-background inset;
    img {
        cursor: pointer;
    }
}

.product-details {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: .7em;
    font-weight:400;
}

.product-gallery {
 
}

.product-gallery__featured {
    padding: 2px;
    border-radius: 2px;
    height:auto;
    a {
        display: block;
        padding: 20px;
    }
}
.product-gallery__carousel {
    margin-top: 16px;
}

.product-gallery__carousel-item {
    cursor: pointer;
    display: block;
    box-shadow: 0 0 0 1px $medium-gray-background inset;
    padding: 4px;
    border-radius: 2px;
}
.product-gallery__carousel-item--active {
    box-shadow: 0 0 0 1px $dark-blue inset;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    .image-wrapper .product {
        background-color: white;
         img {
            height: 100%;
            box-sizing: border-box;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
         }
    }
}

.preview {
    margin-top: 16px;
    display:grid;
    grid-template-columns: repeat(auto-fill,130px);
    grid-auto-flow: row;
    grid-auto-columns: minmax(130px,1fr);
    overflow-x: hidden;
    column-gap: 1rem;
    span {
        height: 100%;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%; 
        img {
            height: 100%;
            box-sizing: border-box;
            max-width: 100%;
            width: 100%; 
        }
    }
}

.desktop-wrapper {
    // box-shadow: 0 0 0 1px $medium-gray-background inset;
    margin:0px 16px 0px 16px;
    border-radius:8px;
    // background-color: white;
    .desktop-info-wrapper {
        height: 100%;
        .product-price {
            font-size:1.5em;
            font-weight: 400;
        }

        .user-wrapper {
            margin-top: 16px;
        }

        .video-wrapper {
            height: 200px;
            position: absolute;
        }

        .description {
            font-size:1.2em;
            font-weight: 400;
            margin-top:2rem;
        }
    
        .product-size  {
            color: $light-gray !important;
        }
        h1 { 
            font-weight: 300;
            font-size: 2.0em;
            font-family: "Roboto", sans-serif;
        }

        .size-wrapper {
            margin-top: 8px;
            color: $light-gray
        }

        .button-wrapper {
            width:50%;
            margin-top: 16px;
        }
    }
}

.user-wrapper {
    div {
        margin-left: 8px;
    }
    width: fit-content;
    cursor: pointer;
    margin-bottom: 20px;
    display:grid;
    grid-template-columns: 50px auto;
    align-items: center;
}

.video-slide-wrapper {
    width: calc(100vw - 32px);
    height: calc(100vw - 32px);
    position: absolute;
    display: flex;
    align-items: center;
    background-color: black;
}

.video-desktop-wrapper {
    display: flex;
    align-items: center;
    background-color: black;
    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
  }
}

.sold {
    @media ( min-width: $desktop-breakpoint) {
        margin-top:16px;
    }
    color: $pink-button;
}

.tags {
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
    .hashtag {
        margin-right: 8px;
        color: $pink-button
    }
}

.breadcrumb-wrapper {
    max-width: $desktop-width;
    margin: 0 auto;
    margin-top:16px;
    margin-bottom:16px;
}