<div class="product-container-wrapper">
    <ng-container *ngIf="mobile && !loading">
        <div class="profile-container" (click)="goToProfile($event)">
            <div class="profile-image-wrapper">
                <app-avatar [image]="product.seller.profileImageUrl"></app-avatar>
            </div>
            <div class="product-user-name">
                {{product.seller.username || 'Relovely Seller'}}
            </div>
        </div>
        <owl-carousel-o [options]="carouselOptions" (changed)="carouselTranslated($event)" appOwlPreventClick
            #featuredCarousel>
            <ng-template *ngIf="product.videos[0]" carouselSlide>
                <div class="video-slide-wrapper">
                    <app-video-player [url]="product.videos[0].url" type="video/mp4"></app-video-player>
                </div>
            </ng-template>
            <ng-container *ngFor="let image of product.images, let i = index">
                <ng-template carouselSlide>
                    <a appClick target="_blank" (click)="viewCurrentImage(image)">
                        <img [src]="image.cropped" alt="" #imageElement>
                    </a>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <div class="info-container">
            <div class="info">
                <div class="product-name">
                    {{product | productTitle}}
                </div>
                <div class="product-price">
                    {{price | appCurrency}}
                    <span *ngIf="product.retailPrice" class="strike-through">{{product.retailPrice | appCurrency}}
                    </span>
                </div>
                <div class="size-wrapper" *ngIf="product.type === 'item' && product.sizeId">
                    Size: <span class="size">{{product.sizeId | appSize}}</span>
                </div>
                <div *ngIf="product.type === 'bundle'" class="size-wrapper">
                    Size: <span class="size">{{product.sizes | appSizes}}</span>
                </div>
                <div *ngIf="product.type === 'bundle'" class="size-wrapper">
                    <span class="label">
                        Category:
                    </span>
                    <span class="size">{{product.categories | appCategories}}</span>
                </div>
                <div class="product-size">
                    {{product.brand}}
                </div>
            </div>
            <div class="action">
                <ng-container *ngIf="!product.sold">
                    <button mat-button *ngIf="!seller" class="accent" (click)="purchase($event)">Buy Now</button>
                    <button mat-button *ngIf="seller" class="accent" (click)="edit($event)">Edit</button>
                </ng-container>
                <ng-container *ngIf="product.sold">
                    <div class="sold">This product is no longer available</div>
                </ng-container>
            </div>
        </div>
        <div class="product-details">
            {{product.description}}
        </div>
        <div class="tags">
            <div class="hashtag" *ngFor="let tag of product.tags">#{{tag}}</div>
        </div>
        <app-horizontal-product-list *ngIf="more && more.length" (clicked)="goToProduct($event)" [products]="more"
            [subtitle]="product.seller.username" [title]="'MORE FROM'">
        </app-horizontal-product-list>
    </ng-container>
    <div *ngIf="!mobile && !loading" class="breadcrumb-wrapper">
        <div class="breadcrumbs">
            <app-breadcrumbs [items]="navItems">
            </app-breadcrumbs>
        </div>
    </div>
    <div *ngIf="!mobile && !loading" class="grid-wrapper">
        <div class="image-wrapper">
            <div class="product">
                <ng-container *ngIf="currentItem.publicId">
                    <div class="video-desktop-wrapper">
                        <app-video-player [url]="product.videos[0].url" type="video/mp4"></app-video-player>
                    </div>
                </ng-container>
                <img *ngIf="!currentItem.publicId" [src]="currentItem" (click)="viewCurrentImage()">
            </div>
            <div class="preview">
                <span *ngIf="product.videos[0]" class="product-gallery__carousel-item">
                    <img class="product-gallery__carousel-image" (click)="setActiveItem(product.videos[0])"
                        [src]="videoThumbnail">
                </span>
                <ng-container *ngFor="let image of product.images">
                    <span class="product-gallery__carousel-item" appClick (click)="setActiveItem(image)">
                        <img class="product-gallery__carousel-image" [src]="image.cropped" alt="">
                    </span>
                </ng-container>
            </div>
        </div>
        <div class="desktop-wrapper" *ngIf="!mobile">
            <div class="desktop-info-wrapper">
                <h1 class="product-title"> {{product | productTitle}}</h1>
                <div class="user-wrapper">
                    <app-avatar [image]="product.seller.profileImageUrl" (click)="goToProfile()">
                    </app-avatar>
                    <div>
                        {{product.seller.username || 'Relovely Seller'}}
                    </div>
                </div>
                <div class="product-price">
                    {{price | appCurrency}}
                    <span *ngIf="product.retailPrice" class="strike-through">{{product.retailPrice | appCurrency}}
                    </span>
                </div>
                <div class="size-wrapper" *ngIf="product.type === 'item' && product.sizeId">
                    Size: <span class="size">{{product.sizeId | appSize}}</span>
                </div>
                <div *ngIf="product.type === 'bundle'" class="size-wrapper">
                    Size: <span class="size">{{product.sizes | appSizes}}</span>
                </div>
                <div *ngIf="product.type === 'bundle'" class="size-wrapper">
                    Category: <span class="size">{{product.categories | appCategories}}</span>
                </div>
                <div class="size-wrapper" *ngIf="product.brand">
                    <div class="size">{{product.brand}}</div>
                </div>
                <ng-container *ngIf=" !product.sold">
                    <div class="button-wrapper">
                        <button mat-button *ngIf="!seller" class="accent" (click)="purchase($event)">Buy
                            Now</button>
                        <button mat-button *ngIf="seller" class="accent" (click)="edit($event)">Edit</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="product.sold">
                    <div class="sold">This product is no longer available</div>
                </ng-container>
                <div class="description">
                    {{product.description}}
                </div>
                <div class="tags">
                    <div class="hashtag" *ngFor="let tag of product.tags">#{{tag}}</div>
                </div>
            </div>
        </div>
    </div>
</div>