<div class="product-container" [class.grid]="grid" [class.headless]="!showHeader">
  <div *ngIf="showHeader" class="profile-header" (click)="goToProduct($event)">
    <span class="profile-image-wrapper">
      <app-avatar [image]="product.seller.profileImageUrl"></app-avatar>
    </span>
    <span class="profile-name">
      {{product.seller.username}}
    </span>
  </div>
  <div class="product-image">
    <app-product-body [product]="product" (click)="goToProduct($event)"></app-product-body>
  </div>
  <div class="bottom-icons">
    <div class="left">
      <button mat-stroked-button class="primary" *ngIf="!product.auction && !seller">Buy Now</button>
      <button mat-stroked-button class="primary" *ngIf="product.auction && !seller">Bid</button>
      <button mat-stroked-button class="primary" *ngIf="seller" (click)="edit()">Edit</button>
    </div>
    <div *ngIf="!seller" class="right" (click)="favorite()">
      <fa-icon [class.fa-lg]="!grid" [class.favorited]="product.favorited" icon="heart"></fa-icon>
    </div>
  </div>
</div>