<div class="product-container" [class.grid]="grid" [class.headless]="!showHeader">
  <div *ngIf="showHeader" class="profile-header" (click)="goToProduct($event)">
    <span class="profile-image-wrapper">
      <app-avatar [image]="product.seller.profileImageUrl"></app-avatar>
    </span>
    <span class="profile-name">
      {{product.seller.username}}
    </span>
  </div>
  <div class="product-image">
    <app-product-body [product]="product" (click)="goToProduct($event)"></app-product-body>
  </div>
  <div class="bottom-icons" *ngIf="!product.sold">
    <div class="left">
      <button mat-button class="primary" *ngIf="!product.auction && !seller" (click)="purchase()">Buy
        Now</button>
      <button mat-button class="primary" *ngIf="seller" (click)="onEdit()">Edit</button>
    </div>
    <div *ngIf="!seller" class="right" (click)="onFavorite()">
      <mat-icon *ngIf="!favoriting" [class.favorited]="product.favorited" svgIcon="heart"></mat-icon>
      <mat-spinner *ngIf="favoriting" diameter="25"></mat-spinner>
    </div>
    <div *ngIf="seller" class="right">
      <button mat-button class="primary destroy" (click)="onDelete()">
        <ng-container *ngIf="!deleting"> Delete</ng-container>
        <ng-container *ngIf="deleting">
          <mat-spinner class="white" [diameter]="15"></mat-spinner>
        </ng-container>
      </button>
    </div>
  </div>
</div>