@import '../../../../styles-variables.scss';

.product-container {
    grid-template-rows: 45px auto 35px;
    display: grid;
    height:100%;
    grid-template-columns: auto;
    &.grid {
        grid-template-rows: 45px auto 35px;
    }

    &.headless {
        grid-template-rows: auto 50px;
    }
}



.bottom-icons {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    display: grid;
    align-items: end;
    div.right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height:30px;
        @media( min-width:$desktop-breakpoint) { 
            font-size: 20px;
        }
        @media( max-width:$mobile-breakpoint) {
            font-size: 18px;
        }
        fa-icon {
            cursor: pointer;
            color:lightgray;
            &.favorited {
                color: $pink-button;
            }
            &:hover {
                @media( min-width:$desktop-breakpoint) { 
                    font-size: 22px;
                }
                @media( max-width:$mobile-breakpoint) {
                    font-size: 20px;
                }
            }
        }
    } 
    div.left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
            
        }
}

button {
    @media( min-width:$desktop-breakpoint) {
        height:25px !important;
        font-size: 16px;
    }
    @media( max-width:$mobile-breakpoint) {
        height:20px;
        font-size:12px;
    }
    min-height:20px !important;
}

.profile-image-wrapper {
    float:left;
    width: 35px;
}

.profile-name {
    padding-left:5px;
    font-size: .8em;
    @media( min-width:$desktop-breakpoint) {
        font-size: .95em;
    }
    font-weight: 600;
}

.profile-header {
    display:flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    flex: 1;
    cursor: pointer;
}

.product-image {
    flex: 1;
    cursor: pointer;
}