@import '../../../../styles-variables.scss';

.cropper-container {
    z-index:102;
    top: 0;
    right: 0;
    left:0;
    bottom:0;
    height: 100%;
    width: 100%;
    position:fixed;
    background-color: black;
    opacity: 1;
    width:100vw;
}


.title-wrapper {
    width:100%;
    color: $background-gray;
    display: flex;
    align-items: center;
    align-content: center;
    .title {
        margin-top: 16px;
        margin: 0 auto;
    }
}

.inner-container {
    margin:0 auto;
    background-color: black;
    max-width:800px;
        height:100vh;
        display: grid;
        align-items: center;
        grid-template-rows: 1fr 1fr 1fr;
        .cropper-inner {
            max-height: 90vh;
            display: flex;
            image-cropper {
                background-color: black;
            }
    }
    .button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        @media(max-width:$mobile-breakpoint) {
            width: 100%;
        }
        app-button {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}