<div class="orders-wrapper">
  <div *ngFor="let order of orders" class="order-wrapper" [class.mat-elevation-z2]="true">
    <div class="product-image">
      <div class="image-wrapper" [class.mat-elevation-z2]="true">
        <img class="product" [src]="order.product.asset">
      </div>
    </div>
    <div class="product-info">
      <div class=details>
        <div class="title mat-body">
          {{order.product.name}}
        </div>
        <div class="info">
          <ng-container *ngIf="order.status === 'shipped'">
            Shipped {{order.shipDate | date}}
          </ng-container>
          <ng-container *ngIf="order.status === 'unshipped'">
            Ordered {{order.orderDate | date}}
          </ng-container>
          <ng-container *ngIf="order.status === 'delivered'">
            Delivered {{order.deliveryDate | date}}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="orders.length > 10" class="pagination">
    <mat-paginator [length]="1" [hidePageSize]="true"></mat-paginator>
  </div>
</div>