<div class="orders-wrapper">
  <div *ngIf="!mobile && !loading" class="page-title">
    <h1>{{title}}</h1>
  </div>
  <ng-container *ngIf="!loading">
    <div *ngIf="!mobile && orders && orders.length > 0" class=" breadcrumb-wrapper">
      <div class="breadcrumbs">
        <app-breadcrumbs [items]="navigationItems"></app-breadcrumbs>
      </div>
    </div>
    <div *ngFor="let order of orders; let i = index" class="order-card" (mouseenter)="onEnter(i)"
      (click)="goToOrder(order.id)" (mouseleave)="onLeave()" [class.mat-elevation-z2]="hoverIndex !== i"
      [class.mat-elevation-z5]="hoverIndex === i">
      <app-order-list [seller]="false" [order]="order"></app-order-list>
    </div>
    <div *ngIf="orders.length > 10" class="pagination">
    </div>
  </ng-container>
</div>