@import '../../../../../styles-variables';

:host {
    flex:auto;
}

.header-bar {
    height:16px;
}

.orders-wrapper {
    margin: 0 auto;
    max-width: $desktop-breakpoint;
    display: grid;
    grid-gap: 5px;
 }
 
 .order-card {
     border-radius: 4px;
     background-color: white;
     cursor: pointer;
 }

 .pagination {
     width:100%;
     position: relative;
     bottom:0;
 }