@import '../../../../../styles-variables';

:host {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.member-profile-container {
    background-color: $medium-gray-background;
    @media( min-width:$desktop-breakpoint) {
        padding-top: 8px;
    }
    border-left: solid $header-border 1px;
    border-right: solid $header-border 1px;
}

.edit {
    margin: 8px;
    .spinner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
    }
}


.header-bar {
    height:200px;
}

.full-content {
    .sidebar-wrapper {
        margin: 75px 16px 16px 16px;
        border-radius: 4px;
        .desktop-inner {
            margin: 0 auto;
            width: fit-content;
            .info-wrapper {
                min-width: 200px;
                ul {
                    padding:0 !important;
                    li {
                        display: flex;
                        align-items: center;
                    
                    list-style-type: none;
                    margin-bottom:8px;
                    &.link {
                        cursor: pointer;
                    }
                    img {
                        width:24px !important;
                        margin-right:8px;
                    }
                }
            }
          }
        }
    }
}