@import '../../../../../styles-variables';

.member-profile-container {
    background-color: $background-gray;
    padding-top:8px;
    border-left: solid $header-border 1px;
    border-right: solid $header-border 1px;
    border-bottom: solid $header-border 1px;
}

.edit {
    margin: 8px;
    .mat-form-field {
        width: 100%;
    }
}