<div class="member-profile-container">
  <app-profile-header [disableSave]="disableSave" [editing]="edit" (action)="onAction($event)" (update)="update()"
    [owner]="owner" [user]="user">
  </app-profile-header>
  <mat-tab-group *ngIf="!edit" mat-align-tabs="center">
    <mat-tab label="Favorites">
      <app-products-list class="users-wrapper" [user]="currentUser" [showGrid]="true" [showHeader]="true"
        [products]="products">
      </app-products-list>
    </mat-tab>
    <mat-tab label="Following">
      <app-users-list class="users-wrapper" [users]="following"></app-users-list>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="edit" class="edit">
    <div class="error">{{error}}</div>
    <form novalidate [formGroup]="editForm">
      <div>
        <mat-form-field appearance="outline">
          <input matInput placeholder="First Name" formControlName="first" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Last Name" formControlName="last" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>