<div *ngIf="!mobile" class="header-bar">
  <app-header-details (update)="onUpdate()" (action)="onAction($event)" *ngIf="!loading" [editing]="edit"
    [disableSave]="disableSave" [following]="following" [owner]="owner" [user]="user">
  </app-header-details>
</div>
<div class="full-content profile" *ngIf="!loading">
  <div class="sidebar-wrapper" *ngIf="!mobile">
    <div class="desktop-inner">
      <div class="info-wrapper">
        <ul>
          <li class="link" (click)="goToInstagram()" *ngIf="user.instagramUsername">
            <img src="./assets/images/instagram.png">
            <div class="link-text">@{{user.instagramUsername}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="member-profile-container">
    <app-profile-header [disableSave]="disableSave" [editing]="edit" (action)="onAction($event)" (update)="onUpdate()"
      [owner]="owner" [user]="user">
    </app-profile-header>
    <mat-tab-group *ngIf="!edit" mat-align-tabs="center">
      <mat-tab label="Favorites">
        <app-products-list class="users-wrapper" [user]="currentUser" [showGrid]="true" [showHeader]="true"
          [products]="user.favorites">
        </app-products-list>
      </mat-tab>
      <mat-tab label="Following">
        <app-users-list class="users-wrapper" [users]="following"></app-users-list>
      </mat-tab>
    </mat-tab-group>
    <div *ngIf="edit" class="edit">
      <ng-container *ngIf="!saving">
        <div class="error">{{error}}</div>
        <form novalidate [formGroup]="editForm">
          <div>
            <mat-form-field appearance="outline">
              <input matInput placeholder="First Name" formControlName="first" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Last Name" formControlName="last" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Username" formControlName="username" />
            </mat-form-field>
          </div>
        </form>
      </ng-container>
      <div class="spinner-wrapper">
        <mat-spinner *ngIf="saving" diameter="25"></mat-spinner>
      </div>
    </div>
  </div>
</div>