@import '../../../../../../src/styles-variables.scss';

:host {
flex: auto;
@media(max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    }
}

.header-bar {
    height:200px;
}

.full-content {
    .sidebar-wrapper {
        margin: 50px 16px 16px 16px;
        border-radius: 4px;
        .info-wrapper {
            margin: 16px;
            ul {
                padding:0 !important;
                li {
                list-style-type: none;
                margin-bottom:8px;
                img {
                    width:24px !important;
                    margin-right:8px;
                }
            }
          }
        }
    }
}