<div *ngIf="!mobile" class="header-bar">

</div>
<div class="full-content profile" *ngIf="!loading">
  <div class="sidebar-wrapper" *ngIf="!mobile">
    <div class="desktop-inner">
      <div class="info-wrapper">
        <ul>
          <li><img src="./assets/images/instagram.png"> @influencer1987</li>
          <li>
            <img src="./assets/images/black-heart.svg"> 546 Favorites
          </li>
          <li><img src="./assets/images/location.png"> Newark, NJ</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <ng-container [ngSwitch]="user.type">
    <ng-container *ngSwitchCase="'seller'">
      <app-seller-profile (updateImage)="input.click()" [owner]="owner" [user]="user"></app-seller-profile>
    </ng-container>
    <ng-container *ngSwitchCase="'member'">
      <app-member-profile (updateImage)="input.click()" [owner]="owner" [user]="user"></app-member-profile>
    </ng-container>
  </ng-container>
</div>
<input #input type="file" style="visibility:hidden" (change)="onUpdateImage($event)" />
<ng-container *ngIf="crop">
  <app-image-cropper (cancel)="onCloseCropper($event)" (crop)="onImageCropped($event)"
    [imageChangedEvent]="imageChangedEvent">
  </app-image-cropper>
</ng-container>