@import '../../../../../../src/styles-variables.scss';

:host {
flex: auto;
display: flex;
flex-direction: column;
@media(max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    }
}