@import '../../../../../styles-variables.scss';

.thumbnails {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: $mobile-breakpoint) {
        grid-template-columns: repeat(3, 1fr);
    }
    grid-template-rows: auto;
    grid-gap:8px;
}

.add-image {
    background-color: $medium-dark-background;
    width:100%;
    cursor: pointer;
    img {
        width: 100%;
    }
    &::before {
        content: "";
        padding-bottom: 100%;
        display: inline-block;
        vertical-align: top;
    }
}

.image-wrapper{
    img {
        width:100%;
    }
}

form {
    mat-form-field {
        width: 100%;
    }
    textarea {
        height:100px;
    }
}

.categories {
    @media (min-width: $desktop-breakpoint) {
        display:grid;
        grid-gap: 8px;
        grid-template-columns: repeat(3, 1fr);
    }
}

form button {
    margin-top: 16px;
    width: 100%;
    height:40px;
}