
.inner-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:485px;
    .inner-wrapper {
        width: 100%;
    }
}

.form-wrapper {
    height:auto;
    margin: 36px 16px 0px 16px;
}