@import '../../../../../styles-variables.scss';

:host {
    position: relative;
    height: 40px;
}
.group-wrapper {
    display: flex;
    height: 40px;
    flex-direction: row;
    div {
        margin-left: 5px;
        margin-right: 5px;
        font-size: .8em;
        display: flex;
        align-items: center;
        div.selected {
            font-size:.9em;
            color: $alert;
        }
    }
}