<div class="create-seller">
    <div *ngIf="error" class="error">
        {{error}}
    </div>
    <form novalidate [formGroup]="createForm">
        <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" formControlName="first" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Last Name" formControlName="last" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Instagram Username" formControlName="username" />
        </mat-form-field>
        <button class="primary" (click)=create() [disabled]="!createForm.valid" mat-stroked-button>Create</button>
    </form>
</div>
<div class="sellers">
    <div class="seller">
        <strong>First Name</strong>
        <strong>Last Name</strong>
        <strong>Email</strong>
        <strong>Insta</strong>
    </div>
    <div class="seller" *ngFor="let seller of sellers">
        <div>{{seller.firstName}}</div>
        <div>{{seller.lastName}}</div>
        <div>{{seller.email}}</div>
        <div>{{seller.instagramUsername}}</div>
        <button class="primary success" (click)=feature(seller) mat-stroked-button>Featured</button>
        <button class="primary success" (click)=approve(seller) mat-stroked-button>Approve</button>
        <button class="primary destroy" (click)=reject(seller) mat-stroked-button>Reject</button>
    </div>
</div>