<div class="desktop-wrapper">
  <div class="inner-wrapper">
    <div *ngIf="loading" class="loading">
      <div>
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    </div>
    <div *ngIf="!loading">
      <div *ngIf="showForm">
        <div class="center">
          <h2> Password Reset</h2>
          <p>Please enter a new password </p>
          <form novalidate [formGroup]="form">
            <div>
              <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput type="password" placeholder="Verify Password" formControlName="verifyPassword" />
              </mat-form-field>
            </div>
            <button mat-stroked-button class="primary" (click)="submit()" [disabled]="!form.valid">
              <strong>
                RESET
              </strong>
            </button>
          </form>
        </div>
      </div>
      <div class="center" *ngIf="!showForm">
        <h2> Your Password Has Been Reset</h2>
        <p>Please check your email for a verification link. </p>
      </div>
    </div>
  </div>
</div>