<div class="full-content empty">
  <div *ngIf="loading" class="loading">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
  <ng-container *ngIf="!loading">
    <div *ngIf="showForm" class="center">

      <form class="form" novalidate [formGroup]="form">
        <h2> Password Reset</h2>
        <p>Please enter a new password for your account</p>
        <div class="form-error" *ngIf="(passwordValue && passwordVerifyValue) && (passwordValue.length === passwordVerifyValue.length || !verify.focused)
        && form.invalid && form.errors && form.errors.passwordMatch">
          Passwords don't match
        </div>
        <div
          *ngIf="form.get('password').errors && form.get('password').errors.minlength && passwordValue.length && !password.focused"
          class="form-error">
          Password must be a least 8 characters long
        </div>
        <div>
          <mat-form-field appearance="outline">
            <input autocomplete="new-password" #password="matInput" matInput type="password" placeholder="Password"
              formControlName="password" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <input autocomplete="new-password" #verify="matInput" matInput type="password" placeholder="Verify Password"
              formControlName="verifyPassword" />
          </mat-form-field>
        </div>
        <button mat-stroked-button class="primary" (click)="submit()" [disabled]="!form.valid">
          <strong>
            RESET
          </strong>
        </button>
      </form>
    </div>
    <div class="center" *ngIf="!showForm">
      <ng-container *ngIf="!error && !success">
        <img src="../../../../../assets/images/check.svg">
        <h2> Your Password Has Been Reset</h2>
        <p>Please click on the link in your email. </p>
      </ng-container>
      <ng-container *ngIf="error">
        <img src="../../../../../assets/images/x.svg">
        <h2> Something went wrong</h2>
        <p>Please refresh the page and try again. </p>
      </ng-container>
      <ng-container *ngIf="!error && success">
        <img src="../../../../../assets/images/check.svg">
        <h2> Password reset successfully!</h2>
      </ng-container>
    </div>
  </ng-container>
</div>