:host {
    flex: auto;
    display:flex;
    flex-direction: column;
}


.center {
    text-align: center;
}

.form {
    max-width:412px;
    padding: 0px 6px;
    .info {
        font-weight: 600;
        margin-bottom: 16px;
    }
}

img {
    height: 25vh;
}