@import '../../../../styles-variables';

.add-image {
    background-color: $medium-dark-background;
    height:100%;
    cursor: pointer;
    img {
        height: 100%;
        width: 100%;
    }
    &::before {
        content: "";
        padding-bottom: 100%;
        display: inline-block;
        vertical-align: top;
    }
}

.uploading {
    background-color: $medium-dark-background;
    height:100%;
    width:100%;
    display:flex;
    align-content: center;
    align-items: center;
    .text {
        font-size: 25px;
        font-weight: 500;
        width: fit-content;
        margin:0 auto;
    }
}