<div class="toolbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="!showSearch">
      <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
        <fa-icon icon="bars"></fa-icon>
      </button>

      <!-- <button mat-button mat-stroked-button color="accent" *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">
                {{ 'app.menu.login' | translate }}
              </button> -->
      <span class="toolbar-filler"></span>

      <button *ngIf="(isAuthenticated$ | async)" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
        <fa-icon icon="user-circle"></fa-icon>
      </button>
      <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <mat-icon>
            <fa-icon icon="power-off"></fa-icon>
          </mat-icon>
        </button>
      </mat-menu>

      <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
        <fa-icon icon="cog"></fa-icon>
      </button>

      <a [matTooltip]="'app.header.github'" matTooltipPosition="before" mat-icon-button class="link d-none d-sm-inline"
        href="https://github.com/tomastrajan/relovely" target="_blank">
        <fa-icon [icon]="['fab','github']"></fa-icon>
      </a>
    </mat-toolbar-row>

  </mat-toolbar>
</div>