@import '../../../..//styles-variables';


form {
  background-color: $medium-dark-background;
  border-radius:4px;
}


.search {
  
  border-radius: 4px;
  transition: box-shadow 0.15s, background 0.15s;
}
.search__form {
  position: relative;
  display: flex;
}

.search__input {
  border: none;
  padding: 0 17px;
  background: white;
  flex-grow: 1;
  font-size: 15px;
  transition: color 0.15s;
  color: black;
  border-radius: 4px 0 0 4px;
  &::placeholder {
      color:gray;
  }
  
  // & ~ .search__border {
  //     background: $search-input-default-bg;
  //     box-shadow: $search-input-default-shadow;
  // }

  // &:hover {
  //     color: $search-input-hover-font-color;

  //     &::placeholder {
  //         color: $search-input-hover-placeholder;
  //     }
  //     & ~ .search__border {
  //         background: $search-input-hover-bg;
  //         box-shadow: $search-input-hover-shadow;
  //     }
  //     & ~ .search__button {
  //         fill: $search-input-hover-icon-color;

  //         &:hover {
  //             fill: $search-input-hover-icon-hover-color;
  //         }
  //     }
  // }
  // &:focus {
  //     outline: none;
  //     color: $search-input-focus-font-color;

  //     &::placeholder {
  //         color: $search-input-focus-placeholder;
  //     }
  //     & ~ .search__border {
  //         background: $search-input-focus-bg;
  //         box-shadow: $search-input-focus-shadow;
  //     }
  //     & ~ .search__button {
  //         fill: $search-input-focus-icon-color;

  //         &:hover {
  //             fill: $search-input-focus-icon-hover-color;
  //         }
  //     }
  // }
}
.search__button {
  border: none;
  padding: 0;
  background: transparent;
  flex-grow: 0;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: gray;
  transition: fill 0.15s;

  &:hover,
  &:focus {
    outline: none;
  }

  app-icon,
  svg {
    display: block;
  }
}
