@import '../../../..//styles-variables';


form {
  border-radius:4px;
}


.search {
  height: 30px;
  border-radius: 8px;
  transition: box-shadow 0.15s, background 0.15s;
  display: grid;
  @media( min-width:$desktop-breakpoint) {
    grid-template-columns: 150px 40px;
  }
  @media(max-width: $mobile-breakpoint) {
    border-radius: 8px 8px 8px 8px;
    & form {
      border-radius: 8px 8px 8px 8px;
      height: inherit;
       & input {
        height: 28px;
        padding-left: 10px;
         width: -webkit-fill-available;
         border-radius: 8px 8px 8px 8px;
       }
    }
  }
  grid-template-rows: auto;
}
.search__form {
  position: relative;
  border-radius: 8px 4px 4px 8px;
}

mat-icon {
  position: fixed;
  right: 24px;
  top: 16px;
}

.search__input {
  height: 36px;
  border: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  .mat-icon {
    width: $search-bar-height !important;
    height:$search-bar-height !important
  }
  &::placeholder {
      color: $light-gray;
      font-size: 14px;
      font-weight: 300;
  }
}