<div class="header-container" [class.desktop]="desktop">
  <div class="avatar-wrapper">
    <app-avatar [image]="user.profileImageUrl"></app-avatar>
  </div>
  <div class="title-wrapper">
    <div>{{user.username}}</div>
    <div class="review">
      <fa-icon icon="heart"></fa-icon>
      <fa-icon icon="heart"></fa-icon>
      <fa-icon icon="heart"></fa-icon>
      <fa-icon icon="heart"></fa-icon>
    </div>
  </div>
  <div class="button-wrapper">
    <app-button *ngIf="!owner" [type]="'primary'">Follow</app-button>
    <app-button *ngIf="owner" [type]="'primary'">Edit</app-button>
  </div>
</div>
<app-profile-stats [statItems]="statItems"></app-profile-stats>