@import '../../../../styles-variables.scss';

.header-container {
    margin-left:12px;
    margin-right:12px;
    display:flex;
    flex-direction: row;
    align-items:  center;
    height:120px;

    .avatar-wrapper {
        width:75px;
    }
    
    .title-wrapper {
        height:2.5em;
        line-height:1.25em;
        flex-grow: 1;
        font-size: .9em;
        color: $light-gray;
        padding-left:24px;
        fa-icon {
            cursor: pointer;
        }
        @media( min-width:$desktop-breakpoint) {
            color: white;
            font-size: 1.4em;
          }
          @media( min-width:900px) {
            padding-left:50px;
        }
        .review {
            color:#a76e6e !important;
            span {
                font-weight: 400;
                font-size: .85em;
            }
        }
        .name {
            margin-bottom: 8px;
            fa-icon {
                padding-right:8px;
            }
        }
    }

    .button-wrapper {
        min-width: 100px;
        @media( min-width:$desktop-breakpoint) {
            margin-left: 35vw;
        }
        @media( min-width:$desktop-width) {
            margin-left: 500px;
        }
    }

    &.desktop {
        @media(max-width:999px) {
            margin-left:-250px !important;
        }
        @media(min-width:1000px) {
            margin-left:-250px;
        }
        position:absolute;
        top:200px;
        .avatar-wrapper {
            width:200px !important;
            border-radius: 50%;
            display: inline-block;
            border: 3px solid $background-gray;
        }
     }
}