@import '../../../../styles-variables.scss';

.modal-wrapper {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 101;
    overflow:scroll;
    width:100vw;
    background-color: $background-gray;
    .modal-container {
        @media (max-width: $mobile-breakpoint) {
            margin: 16px;
        }
        max-width: $modal-width;
        margin: 0 auto;

        .modal-header {
            margin-top:16px;
            margin-bottom:32px;
            display:grid;
            grid-template-rows: auto;
            grid-template-columns: auto 40px;
            align-items: center;
            h1 {
                color: $dark-blue;
                margin: 0;
            }
            .close {
                display: grid;
                align-content: center;
                img {
                    width:40px;
                    cursor: pointer;
                }
            }
            .modal-header {
                display: grid;
                align-content: center;
            }

        }
    }
}