<div class="profile-container">
    <app-profile-header [owner]="owner" [user]="user"></app-profile-header>
    <mat-tab-group>
        <mat-tab label="Listings">
            <app-products-list [showGrid]="true" [showHeader]="false" [products]="user.products"></app-products-list>
        </mat-tab>
        <mat-tab label="Sales">
            <app-products-list [showGrid]="true" [showHeader]="false" [products]="user.products"></app-products-list>
        </mat-tab>
        <mat-tab label="Followers">
            <app-users-list [users]="users"></app-users-list>
        </mat-tab>
        <mat-tab label="Following">
            <app-users-list [users]="users"></app-users-list>
        </mat-tab>
    </mat-tab-group>
</div>