<ng-template cdkPortal #productCreateModal="cdkPortal">
    <app-product-create [sellerId]="user.id" (close)="close($event)"></app-product-create>
</ng-template>
<div class="profile-container">
    <app-profile-header (update)="update()" [owner]="owner" [user]="user"></app-profile-header>
    <mat-tab-group>
        <mat-tab label="Listings">
            <app-products-list (create)="showCreateModal($event)" [showCreate]="showCreate" [showGrid]="true"
                [showHeader]="false" [products]="user.listings">
            </app-products-list>
        </mat-tab>
        <mat-tab label="Sales">
            <app-products-list [showGrid]="true" [showHeader]="false" [products]="user.listings">
            </app-products-list>
        </mat-tab>
        <mat-tab label="Followers">
            <app-users-list [users]="users"></app-users-list>
        </mat-tab>
        <mat-tab label="Following">
            <app-users-list [users]="users"></app-users-list>
        </mat-tab>
    </mat-tab-group>
</div>