<ng-template cdkPortal #productCreateModal="cdkPortal">
    <app-product-create [product]="editProduct" [sellerId]="user.id" (close)="close($event)"></app-product-create>
</ng-template>
<div class="profile-container">
    <app-profile-header [disableSave]="disableSave" [editing]="edit" (action)="onAction($event)" (update)="update()"
        [owner]="owner" [user]="user" [following]="following">
    </app-profile-header>
    <mat-tab-group *ngIf="!edit">
        <mat-tab label="Listings">
            <app-products-list [userId]="currentUserId" (edit)="showEditModal($event)"
                (create)="showCreateModal($event)" [showCreate]="showCreate" [showGrid]="true" [showHeader]="false"
                [products]="user.listings">
            </app-products-list>
        </mat-tab>
        <mat-tab label="Sales">
            <app-products-list [userId]="currentUserId" [showGrid]="true" [showHeader]="false" [products]="user.sales">
            </app-products-list>
        </mat-tab>
        <mat-tab label="Followers">
            <app-users-list [users]="followerUsers"></app-users-list>
        </mat-tab>
        <mat-tab label="Following">
            <app-users-list [users]="followingUsers"></app-users-list>
        </mat-tab>
    </mat-tab-group>
    <div *ngIf="edit" class="edit">
        <form [formGroup]="editForm">
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="First Name" formControlName="first" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Last Name" formControlName="last" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Username" formControlName="username" />
                </mat-form-field>
            </div>
        </form>
    </div>
</div>