@import '../../../../../styles-variables';

.profile-container {
    background-color: $medium-gray-background;
    padding-top:8px;
    @media( min-width:$desktop-breakpoint) {
        border-left: solid $header-border 1px;
        border-right: solid $header-border 1px;
    }
}

.edit {
    margin: 8px;
    .mat-form-field {
        width: 100%;
    }
}