@import '../../../../../styles-variables';

.profile-container {
    background-color: $medium-gray-background;
    @media( min-width:$desktop-breakpoint) {
        padding-top: 8px;
        border-left: solid $header-border 1px;
        border-right: solid $header-border 1px;
    }
}

.edit {
    margin: 8px;
    .spinner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
    }
}

.header-bar {
    height:200px;
}

.full-content {
    .sidebar-wrapper {
        margin: 50px 16px 16px 16px;
        border-radius: 4px;
        .info-wrapper {
            margin: 16px;
            ul {
                padding:0 !important;
                li {
                list-style-type: none;
                margin-bottom:8px;
                img {
                    width:24px !important;
                    margin-right:8px;
                }
            }
          }
        }
    }
}