@import '../../../../../styles-variables';

.cart-wrapper {
   margin:8px;
   min-height: 100vh;
}

.cart-card {
    border-radius: 4px;
    background-color: white;
    padding-bottom:16px;
}

.product-wrapper {
    border-bottom: solid 1px $medium-gray-background;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    display: grid;
    .product-image {
        margin:8px;
        .image-wrapper {
            padding: 2px;
            background-color: #efefef;
            border-radius: 2px;
            img {
                width:100%;
            }
        }
    }
    .product-info {
        margin:8px;
        grid-template-rows: 1fr 20px;
        grid-template-columns: auto;
        display: grid;
        .details {
            .size {
                font-size: .75em;
                padding-top: 8px;
            }
            .title {
    
            }
        }
        .price {
            padding-right: 8px;
            grid-template-columns: 1fr 100px;
            grid-template-rows: auto;
            display: grid;
            align-items: end;
            .value {
                text-align:end;
                font-size: .9em;
            }
            .seller {
                font-size: .8em;
            }
        }
    }
}
.totals {
    margin:16px;
    div {
        margin-top:8px;
    }
    .total {
        margin-top:16px;
        font-size: 1em;
    }
    .details {
        margin-top:16px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        display: grid;
        align-items: end;
        .value {
            text-align:end;
        }
    }
    .buy-button {
        margin-top:32px;
        width:100%;
       app-button button {
            width:100% !important;
        }
    }
}