:host {
    flex: auto;
}
.full-content {
    padding:8px;
    word-wrap: normal;
    li {
        display: inline-block;
    }
    .page-title {
        margin-bottom: 36px;
       h1 {
        font-weight: 700;
       }
    }
}