@import '../../../../../src/styles-variables.scss';

.avatar-wrapper {
    position: relative;
    img {
        width:100%;
        border-radius:50%;
        background-color: $background-gray;
    }
    mat-icon {
        visibility: hidden;
        position: absolute;
    }
    &:hover {
        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.75); /* Black see-through */
            border-radius:50%;
            bottom: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            mat-icon {
                height:100px;
                width:100px;
                visibility: visible;
                color: white;
                font-size: 100px;
            }
        }
    }
    .mobile {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius:50%;
        bottom: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        mat-icon {
            color: $background-gray;
            height:unset;
            width:unset;
            visibility: visible;
            color: $dark-gray;
            font-size: 20px;
            font-weight: 700;
            left: 50px;
        }
    }
}