<div class="page-wrapper" *ngIf="!guestOrder">
    <div *ngIf="!mobile && !loading" class="breadcrumb-wrapper">
        <div class="breadcrumbs">
            <app-breadcrumbs [items]="navigationItems"></app-breadcrumbs>
        </div>
    </div>
    <div *ngIf="!loading" class="order-wrapper">
        <app-order-list [seller]="seller" [detail]="true" [order]="order"></app-order-list>
        <div class="divider"></div>
        <div class="grid-wrapper">
            <div class="left">
                <div class="order-number">Order Number: {{order.orderNumber}}</div>
                <div class="payment">
                    <div>
                        <strong>Payment Method:</strong>
                    </div>
                    <div>{{typeMap[order.paymentType]}} ending in {{order.paymentLast4}}</div>
                </div>
            </div>
            <div class="right">
                <div class="line-items">
                    <div class="line-item">
                        <span class="label">Price </span>
                        <span class="value">{{price | appCurrency}} </span>
                    </div>
                    <div class="line-item">
                        <span class="label">Tax</span>
                        <span class="value">{{order.tax | appCurrency}} </span>
                    </div>
                    <div class="line-item">
                        <span class="label">Shipping</span>
                        <span class="value">{{ shipping | appCurrency}}
                        </span>
                    </div>
                </div>
                <div class="total">
                    <span class="label total">TOTAL</span>
                    <span class="value">
                        {{ total | appCurrency}}
                    </span>
                </div>
            </div>
        </div>
        <div class="divider light"></div>
        <div class="grid-wrapper">
            <div class="left">
                <span class="title">
                    Order Status:
                </span>
                <span [class]="'status ' + order.status">
                    {{order.status | titlecase}}
                </span>
            </div>
            <div class="right">
                <span class="title">
                    Ship To:
                </span>
                <div class="address">
                    <app-address [address]="order.address"></app-address>
                </div>
            </div>
        </div>
        <ng-container *ngIf="order.sizes || order.instagram || order.pinterest || order.buyerInfo">
            <div class="divider light"></div>
            <div class="grid-wrapper">
                <div>
                    <div class="additional"><strong>Additional Info:</strong></div>
                    <div *ngIf="order.instagram" class="">
                        <strong>Instagram: </strong> <a
                            href="https://www.instagram.com/{{order.instagram}}">@{{order.instagram}}</a>
                    </div>
                    <div *ngIf="order.pinterest" class="">
                        <strong>Pinterest: </strong> <a
                            href="https://www.pinterest.com/{{order.pinterest}}">{{order.pinterest}}</a>
                    </div>
                    <div *ngIf="order.buyerInfo" class="">
                        {{order.buyerInfo}}
                    </div>
                </div>
                <div class="sizes">
                    <strong>Sizes:</strong> {{order.sizes | appSizes}}
                </div>
            </div>
        </ng-container>
        <div class="links">
            <div class="inner">
                <ng-container *ngIf="seller">
                    <div class="review">
                        <a (click)="onTrack()" appClick target="_blank">Track Package</a>
                    </div>
                    <div class="problem">
                        <a (click)="onPrint()" appClick target="_blank"> Print Shipping Label</a>
                    </div>
                </ng-container>
                <ng-container *ngIf="!seller">
                    <div class="review">
                        <a *ngIf="['delivered', 'review'].includes(order.status)" (click)="onReview()" appClick
                            target="_blank">Write a
                            Review</a>
                        <a *ngIf="['shipped', 'purchased'].includes(order.status)" (click)="onTrack()" appClick
                            target="_blank">Track
                            Package</a>
                    </div>
                    <div class="problem">
                        <a (click)="onGoToHelp()" appClick target="_blank"
                            *ngIf="!['cancelled', 'review'].includes(order.status)">Problem with
                            order</a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="full-content empty" *ngIf="guestOrder">
    <div class="center-wrapper">
        <img src="../../../../../assets/images/check.svg">
        <h2> Your Order Is Complete</h2>
        <p>Check your email for receipt and tracking information</p>
    </div>
</div>