<ng-container *ngIf="!loading && !saving">
    <div *ngIf="success" class="center">
        <img src="../../../../../assets/images/heart.png">
        <ng-container *ngIf="type === 'seller'">
            <h2> Thank You For Applying to Sell on Relovely!</h2>
            <p>We're reviewing your application and we'll send you an email when you're approved.</p>
        </ng-container>
        <ng-container *ngIf="type === 'member'">
            <h2> Welcome to Relovely!</h2>
            <p>Please check your email for a verification link.</p>
        </ng-container>
    </div>
</ng-container>
<div *ngIf="loading" class="authorizing">
    <div class="text">Authorizing</div>
    <mat-spinner diameter="30"></mat-spinner>
</div>
<div *ngIf="saving" class="authorizing">
    <mat-spinner diameter="30"></mat-spinner>
</div>