@import '~@angular/material/theming';
@import '../../../../../styles-variables';

:host {
    flex:auto;
}

.page-card-body {
    @media(max-width: $mobile-breakpoint) {
        padding-top: 16px;
    }
    .button-wrapper {
        width: 36px;
        margin: 0 auto;
        padding: 24px 0px;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    .list-wrapper {
        display: grid;
        justify-content: center;
        margin-top: 16px;
        row-gap: 16px;
        .address-wrapper {
            width: 500px;
            background-color: white;
            display: grid;
            padding: 16px 32px;
            grid-template-columns: 60px 1fr 50px;
            grid-template-rows: auto;
            @media(max-width: $mobile-breakpoint) {
                @include mat-elevation(2);
            }
            .edit {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .text-wrapper {
                    cursor: pointer;
                    color: $action-button;
                    &:hover {
                        color: $dark-blue;
                    }
                }
            }
            .address {
                // display: flex;
                // align-items: center;
                // justify-content: center;
            }
            .options {
                display: flex;
                align-items: center;
                font-size: 14px;
            }
        }
        @media(max-width: $mobile-breakpoint) {
            row-gap: 8px;
            .address-wrapper {
                width: 100vw;
            }
        }
    }
    .primary {
        padding-left: 16px;
        width: 500px;
        margin: 0 auto;
    }
}