.user-list-container {
    display:flex;
    flex-direction: row;
    align-items:  center;
    height:86px;
    .avatar-wrapper {
        width:50px;
        margin-right: 15px;
        cursor: pointer;
    }
}