@import '~@angular/material/theming';


.user-list-container {
    display: grid;
    grid-template-columns: 70px 1fr 100px;
    grid-template-rows: auto;
    align-items:  center;
    height:86px;
    .avatar-wrapper {
        cursor: pointer;
    }
}