<ng-container *ngIf="!mobile">
    <div class="breadcrumb-wrapper">
        <div class="breadcrumbs">
            <app-breadcrumbs [navItem]="currentNavItem"></app-breadcrumbs>
        </div>
    </div>
    <div class="title-bar">
        <div class="title-inner">
            <div class="text-wrapper">
                {{title | uppercase}}
            </div>
        </div>
    </div>
    <div class="filter-wrapper">
        <app-desktop-filters></app-desktop-filters>
    </div>
</ng-container>
<div *ngIf="!empty && !loading" class="products">
    <div *ngIf="total > 40" class="paginator-wrapper">
        <mat-paginator #paginator [length]="total" [hidePageSize]="true" [pageIndex]="currentPage" [pageSize]="40"
            (page)="paginate($event)">
        </mat-paginator>
    </div>
    <div class="products-content">
        <app-products-list (edit)="editProduct($event)" [user]="currentUser" [products]="products" [showGrid]="grid"
            [showHeader]="true" (close)="onClose()">
        </app-products-list>
    </div>
    <div *ngIf="total > 40" class="paginator-wrapper">
        <mat-paginator #paginator [length]="total" [hidePageSize]="true" [pageIndex]="currentPage" [pageSize]="40"
            (page)="paginate($event)">
        </mat-paginator>
    </div>
</div>
<div *ngIf="empty && !loading" class="empty-state">
    <div class="empty-wrapper clickable" *ngIf="!checkBack" (click)="goToParent()">
        <img [src]="emptyImage">
        <h3>Nothing in this category...yet!</h3>
        <p *ngIf="!checkBack">Click here to see what's available in
            {{parentCategory}}</p>
    </div>
    <div class="empty-wrapper" *ngIf="checkBack">
        <img [src]="emptyImage">
        <h3>Nothing in this category...yet!</h3>
        <p> Check back later!</p>
    </div>
</div>
<div *ngIf="loading" class="empty-state">
    <mat-spinner [diameter]="30"></mat-spinner>
</div>