<ng-container *ngIf="!mobile">
    <div class="breadcrumbs">
        <app-breadcrumbs [navItem]="currentNavItem"></app-breadcrumbs>
    </div>
    <div class="title-bar">
        <div class="title-inner">
            <div class="text-wrapper">
                {{title | uppercase}}
            </div>
        </div>
    </div>
    <div class="filter-wrapper">
        <app-desktop-filters></app-desktop-filters>
    </div>
</ng-container>
<div class="products-content">
    <app-products-list [products]="products" [showGrid]="grid" [showHeader]="true">
    </app-products-list>
</div>