@import '../../../../../styles-variables.scss';

.header-bar {
    height:1px;
    background-color: $dark-blue !important;
}

.title-bar {
    height:150px;
    background: url("assets/images/title-background.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    .title-inner {
        height: 100%;
        display: grid;
         align-items: center;
        .text-wrapper {
            text-align:center;
            color: $background-gray;
            font-size: 2.5em;
            font-family: "Helvetica Neue", sans-serif;
            font-weight: 500;
            letter-spacing: .1em;
        }
    }
}

.breadcrumbs {
    max-width: $desktop-width;
    margin: 0 auto;
    margin-top:32px;
    margin-bottom:32px;
}



.paginator {
    max-width: $desktop-width;
    margin: 0 auto;
}
