<ng-container *ngIf="!mobile">
    <div class="breadcrumb-wrapper">
        <div class="breadcrumbs">
            <app-breadcrumbs [navItem]="currentNavItem"></app-breadcrumbs>
        </div>
    </div>
    <div class="title-bar">
        <div class="title-inner">
            <div class="text-wrapper">
                {{title | uppercase}}
            </div>
        </div>
    </div>
    <div class="filter-wrapper">
        <app-desktop-filters></app-desktop-filters>
    </div>
</ng-container>
<div class="products">
    <div class="products-content">
        <app-products-list (edit)="editProduct($event)" [userId]="currentUserId" [products]="products" [showGrid]="grid"
            [showHeader]="true">
        </app-products-list>
    </div>
</div>
<ng-template cdkPortal #productCreateModal="cdkPortal">
    <app-product-create [product]="product" [sellerId]="currentUserId" (close)="close($event)">
    </app-product-create>
</ng-template>