@import '../../../../../styles-variables.scss';

:host {
    flex: auto;
    display:flex;
    flex-direction: column;
}

.header-bar {
    height:1px;
    background-color: $dark-blue !important;
}

.title-bar {
    height:150px;
    width:100%;
    background-color: $dark-blue;
    margin: 0 auto;
    .title-inner {
        height: 100%;
        display: grid;
         align-items: center;
        .text-wrapper {
            text-align:center;
            color: $background-gray;
            font-size: 2.5em;
            font-family: "Helvetica Neue", sans-serif;
            font-weight: 500;
            letter-spacing: .1em;
        }
    }
}

.breadcrumbs {
    max-width: $products-width;
    margin: 0 auto;
    margin-top:32px;
    margin-bottom:32px;
    padding: 0px 16px;
}

.products-content {
    flex:auto;
    margin: 0 auto;
    max-width: $products-width;
  }

.paginator {
    max-width: $products-width;
    margin: 0 auto;
}

.empty-state {
    flex: auto;
    min-height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
    @media(min-width: $desktop-width) {
        min-height: 0px;
    }
    text-align: center;
}

.empty-wrapper.clickable {
    cursor: pointer;
}

.paginator-wrapper {
    margin:0 auto;
    max-width: 1300px;
}

.hidden {
    visibility: hidden;
}
