<ng-container>
  <div #mobileLayout class="theme-wrapper" *ngIf="mobile">
    <mat-sidenav-container>
      <div class="header-placeholder" *ngIf="loading || error">
      </div>
      <mat-toolbar class="topbar" color="primary" *ngIf="showMobileHeader && !error && !loading"
        [class.mat-elevation-z2]="(!(showNavBar || showFilterBar) && !scrolledToTop) && !sidenavOpen"
        [ngStyle]="{'z-index':(!(showNavBar || showFilterBar) || !scrolledToTop) && !sidenavOpen ? 101 : 1 }">
        <mat-toolbar-row [class.no-border]=" scrolledToTop && (showFilterBar || showNavBar)" class="top-bar gray"
          *ngIf="!showSearch">
          <button class="mat-icon-button black" *ngIf="!sidenavOpen" (click)="openSidenav()">
            <fa-icon icon="bars"></fa-icon>
          </button>
          <div class="toolbar-filler"><img class="logo" src="./assets/images/logo.png" (click)="onGoHome()"> </div>
          <div></div>
          <div class="icon-wrapper mobile">
            <button class="mat-icon-button black" (click)="onToggleSearchBar()">
              <fa-icon icon="search"></fa-icon>
            </button>
            <button class="mat-icon-button black" (click)="onFavoritesClicked()">
              <fa-icon icon="heart"></fa-icon>
            </button>
          </div>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="showSearch" class="search-tool-bar">
          <button class="mat-icon-button black" (click)="onToggleSearchBar()">
            <fa-icon icon="times"></fa-icon>
          </button>
          <app-search-bar (search)="search()" (term)="setTerm($event)"></app-search-bar>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="mobile-wrapper">
        <mat-toolbar class="toolbar" [class.sticky]="true" *ngIf="showNavBar || showFilterBar"
          [class.mat-elevation-z2]="scrolledToTop && !sidenavOpen">
          <mat-toolbar-row class="header" [hidden]="!showNavBar">
            <div class="header-bar">
              <h3 [class.center]="!showFilterBar">{{header}}</h3>
            </div>
            <div *ngIf="showFilterBar" class="grid-toggle" style="float:right;">
              <button (click)="toggleProductMode()" *ngIf="showProductGrid" class="mat-icon-button">
                <fa-icon icon="th-large"></fa-icon>
              </button>
              <button (click)="toggleProductMode()" *ngIf="!showProductGrid" class="mat-icon-button">
                <fa-icon icon="square"></fa-icon>
              </button>
            </div>
          </mat-toolbar-row>
          <mat-toolbar-row style="width: 100%; height: 70px;" *ngIf="showFilterBar">
            <app-filter-bar style="width: 100%; height: 70px;" [categoryFilters]="chipItems"> </app-filter-bar>
          </mat-toolbar-row>
        </mat-toolbar>
        <ng-container *ngIf="!loading">
          <ng-container *ngTemplateOutlet="content"></ng-container>
          <ng-container *ngTemplateOutlet="mobileFooter"></ng-container>
        </ng-container>
      </div>
      <mat-sidenav [opened]="sidenavOpen" mode="side">
        <button *ngIf="sidenavOpen" class="close mat-icon-button black" (click)="closeSidenav()">
          <fa-icon icon="times"></fa-icon>
        </button>
        <div class="sidenav-wrapper">
          <div class="sidenav-header-wrap">
            <div *ngIf="showTopLevel" class="holder"></div>
            <button *ngIf="!showTopLevel" class="mat-icon-button black" (click)="goBack()">
              <fa-icon icon="arrow-left"></fa-icon>
            </button>
            <div *ngIf="showTopLevel" class="title"><img class="logo" src="./assets/images/logo.png"> </div>
            <div class="title" *ngIf="!showTopLevel">
              <div class="branding">
                <span class="text-wrapper">
                  <span class="text">{{navHeader}}</span>
                </span>
              </div>
            </div>
            <div class="holder"></div>
          </div>
          <div class="sidenav-inner">
            <mat-nav-list *ngIf="showTopLevel" class="top">
              <a mat-list-item *ngFor="let item of currentNavigationItems" (click)="sideNavigate(item)"
                routerLinkActive="nav-item-active">
                <div class="top-level">
                  <span>{{ item.name }}</span>
                </div>
              </a>
            </mat-nav-list>
            <mat-nav-list *ngIf="!showTopLevel" class="sub">
              <a mat-list-item *ngFor="let item of currentNavigationItems" (click)="sideNavigate(item)"
                routerLinkActive="nav-item-active">
                <div class="nested">
                  <span>{{ showTopLevel ? item.name.ToUpper() : item.name }}</span>
                </div>
              </a>
            </mat-nav-list>
          </div>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>

  <div class="theme-wrapper light-theme" *ngIf="!mobile">
    <div class="content-wrapper" [class.content-noscroll]="overlayService.isOpen">
      <ng-container *ngTemplateOutlet="desktopToolbar"></ng-container>
      <div class="mega-menu-wrapper" *ngIf="showMegaMenu">
        <div class="mega-menu">
          <div class="mega-menu-inner-wrapper" (mouseleave)="onLeaveMegaMenu($event)">
            <div class="mega-menu-header">
              <div (click)="navigate(item)" *ngFor="let item of selectedDesktopNavSubItems" class="menu-item">
                <h1>{{item.name}}</h1>
              </div>
            </div>
            <div class="mega-menu-body">
              <div *ngFor="let item of selectedDesktopNavSubItems">
                <ul>
                  <li (click)="navigate(subItem)" *ngFor="let subItem of item.subItems">{{subItem.name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-wrapper">
        <ng-container *ngIf="!loading">
          <ng-container *ngTemplateOutlet="content"></ng-container>
        </ng-container>
      </div>
      <ng-container *ngTemplateOutlet="footer"></ng-container>
    </div>
  </div>
</ng-container>

<ng-template #content>
  <router-outlet *ngIf="!error"></router-outlet>
  <div *ngIf="error">ERROR</div>
</ng-template>

<ng-template #desktopToolbar>
  <div class="toolbar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="desktop-bar">
          <div class="desktop-bar-inner">
            <img class="logo" src="./assets/images/logo.png" (click)="onGoHome()">
            <div class="search-wrapper">
              <div></div>
              <app-search-bar (search)="search()" (term)="setTerm($event)"></app-search-bar>
            </div>
            <div class="icon-wrapper desktop">
              <button class="mat-icon-button menu">
                <fa-icon (click)="search()" icon="search" [styles]="{'color': 'black'}"></fa-icon>
              </button>
              <button class="mat-icon-button menu" (click)="onFavoritesClicked()">
                <fa-icon icon="heart" [styles]="{'color': 'black'}"></fa-icon>
              </button>
              <button #menuTrigger (mouseenter)="onTriggerAccountMenu($event)" class="mat-icon-button menu"
                style="z-index:1050" *ngIf="userService.user$.value" [matMenuTriggerFor]="accountMenu">
                <ng-container *ngIf="userService.user$.value">
                  <img *ngIf="userService.user$.value.profileImageUrl" class="profile"
                    [src]="userService.user$.value.profileImageUrl">
                  <img *ngIf="!userService.user$.value.profileImageUrl" class="profile"
                    src="./assets/images/account.png">
                </ng-container>
                <!-- <img class="caret" src="./assets/images/caret.png"> -->
              </button>
              <div class="signin" (click)="showSignin()" *ngIf="!userService.user$.value">
                <div> SIGN IN</div>
              </div>
            </div>
          </div>
          <mat-menu #accountMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
            <div class="account-trigger-wrapper" (mouseleave)="onLeaveAccountTrigger($event)"></div>
            <span class="menu-wrapper" (mouseleave)="onLeaveAccountMenu($event)">
              <ng-container *ngIf="accountNav">
                <div class="menu-item-wrapper">
                  <ul>
                    <li *ngFor="let item of accountNav.subItems" class="menu-item" (click)="onAccountMenuAction(item)">
                      {{item.name}}</li>
                  </ul>
                </div>
              </ng-container>
            </span>
          </mat-menu>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row (click)="toggleHeader()" class="desktop-menu-bar">
        <div class="menu-bar-container">
          <div class="menu-wrapper" style="z-index:1050" (mouseleave)="onLeaveMenuBar($event)">
            <span class="menu">
              <span *ngFor="let item of desktopNavigationItems; let i = index" class="menu-item">
                <h1 [class.current]="selectedMenuItem === i" (click)="onAccountMenuAction(item)"
                  (mouseenter)="onOpenMegaMenu(item)">{{item.name}}</h1>
              </span>
            </span>
          </div>
          <div class="menu-wrapper links">
            <div class="menu">
              <span (click)="navigate(item)" *ngFor="let item of desktopLinkItems" class="menu-item">
                <h1>{{item.name}}</h1>
              </span>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</ng-template>

<ng-template #footer>
  <div class="footer">
    <ul>
      <li (click)="onAbout()"><a appClick target="_blank">About</a></li>
      <li (click)="onApply()"><a appClick target="_blank">Sell</a></li>
      <li><a appClick target="_blank">Help</a></li>
      <li><a appClick target="_blank">Contact</a></li>
      <li (click)="onTerms()"><a appClick target="_blank">Terms</a></li>
      <li (click)="onPrivacy()"><a appClick target="_blank">Privacy</a></li>
      <li (click)="onFacebook()"><a appClick target="_blank">Facebook</a></li>
      <li (click)="onInstagram()"><a appClick target="_blank">Instagram</a></li>
    </ul>
  </div>
</ng-template>

<ng-template #mobileFooter>
  <div class="mobile-footer">
    <div class="list-wrapper">
      <ul class="top">
        <li><a appClick target="_blank">Help</a></li>
        <li (click)="onAbout()"><a appClick target="_blank">About</a></li>
        <li (click)="onApply()"><a appClick target="_blank">Sell</a></li>
        <li><a appClick target="_blank">Contact</a></li>
        <li (click)="onTerms()"><a appClick target="_blank">Terms</a></li>
      </ul>
      <ul class="bottom">
        <li (click)="onPrivacy()"><a appClick target="_blank">Privacy</a></li>
        <li (click)="onFacebook()"><a appClick target="_blank">Facebook</a></li>
        <li (click)="onInstagram()"><a appClick target="_blank">Instagram</a></li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template cdkPortal #signUpModal="cdkPortal">
  <app-auth [authUsername]="authUsername" [token]="authToken" [error]="signupError" [state]="authPage"
    (close)="close($event)"></app-auth>
</ng-template>

<ng-template cdkPortal #applyToSell="cdkPortal">
  <app-seller-apply (close)="closeModal()"></app-seller-apply>
</ng-template>