$app-light-primary: mat-palette($mat-grey, 600, 500, 300);
$app-light-accent: mat-palette($mat-grey, 700);
$app-light-warn: mat-palette($mat-red, 500);

$app-light-theme: mat-light-theme(
  $app-light-primary,
  $app-light-accent,
  $app-light-warn
);
