@import '../../../../styles-variables';

  .mat-tab-label {
      height: 40px !important;
      padding: 0 !important;
  }

  .listing-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    mat-basic-chip {
      background-color: $medium-gray-background !important;
      color: $dark-gray !important;
      border: solid $dark-gray 1px;
      &.selected {
        background-color: $dark-gray !important;
        color:  $medium-gray-background !important;
      }
    }
  }

  .filter-bar {
    position: relative;
    .clear {
      display: flex;
      align-items: center;
      position: absolute;
      right: 12px;
      top: 0;
      font-size: small;
      z-index: 100;
      mat-icon {
        width: 20px !important;
        height: 20px !important;
      }
      div {
        margin-right: 6px;
      }
      .filters-active {
        content:"\A";
        width:5px;
        height: 5px;
        border-radius:50%;
        background: $alert;
        margin-right: 6px;
      } 
    }
  }
