<div class="page-card">
    <ng-container>
        <div class="page-card-header">
            <h1>Settings</h1>
        </div>
    </ng-container>
    <div class="page-card-body">
        <ng-container *ngIf="currentUser.type === 'seller'">
            <div class="verification line" [class.clickable]="allowClick" (click)="showVerifyModal()">
                <div class="icon-wrap">
                    <fa-icon icon="store"></fa-icon>
                </div>
                <span class="title">
                    Store
                </span>
                <span class="tag detail" [ngClass]="verficationClass">
                    {{verificationStatus}}</span>
            </div>
            <div class="bank line clickable" (click)="showBankAccountModal()">
                <div class="icon-wrap">
                    <fa-icon icon="landmark"></fa-icon>
                </div>
                <span class="title">
                    Bank Account
                </span>
                <span *ngIf="!bankAccountLinked" class="tag alert"> Unlinked</span>
                <span *ngIf="bankAccountLinked" class="tag success">Linked</span>
            </div>
        </ng-container>
        <div class="verification line clickable" (click)="linkFacebook()">
            <div class="icon-wrap">
                <img src="/assets/images/facebook-black.svg" />
            </div>
            <span class="title">
                Facebook
            </span>
            <span *ngIf="!facebookLinked" class="tag alert"> Unlinked</span>
            <span *ngIf="facebookLinked" class="tag success">Linked</span>
        </div>
    </div>
</div>

<ng-template cdkPortal #verify="cdkPortal">
    <app-verify-seller [verification]="verification" (close)="close($event)"></app-verify-seller>
</ng-template>

<ng-template cdkPortal #bank="cdkPortal">
    <app-add-bank (close)="close($event)"></app-add-bank>
</ng-template>

<ng-template cdkPortal #facebook="cdkPortal">
    <app-link-facebook (close)="close($event)"></app-link-facebook>
</ng-template>