<div class="full-content">
    <div class="settings-wrapper">
        <ng-container *ngIf="currentUser.type === 'seller'">
            <div class="verification line" (click)="showVerifyModal()">
                <div class="icon-wrap">
                    <fa-icon icon="store"></fa-icon>
                </div>
                <span class="title">
                    Store
                </span>
                <span class="tag detail"
                    [ngClass]="verficationClass">{{currentUser.seller.verificationStatus | titlecase}}</span>
            </div>
            <div class="bank line">
                <div class="icon-wrap">
                    <fa-icon icon="landmark"></fa-icon>
                </div>
                <span class="title">
                    Bank Account
                </span>
                <span *ngIf="!currentUser.seller.bankAccountLinked" class="tag alert"> Unlinked</span>
                <span *ngIf="currentUser.seller.bankAccountLinked" class="tag success">Linked</span>
            </div>
        </ng-container>
        <ng-container *ngIf="!currentUser.type !== 'seller'"></ng-container>
    </div>
</div>

<ng-template cdkPortal #verify="cdkPortal">
    <app-verify-seller (close)="close($event)"></app-verify-seller>
</ng-template>