mat-form-field {
    width: 100%;
}

.button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    width: 100%;
}

.checkbox-wrapper {
    margin-bottom: 16px;
}
