@import '../../../../styles-variables.scss';

.button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    width: 100%;
}
.error {
    margin-bottom: 16px;
}

.checkbox-wrapper {
    margin-bottom: 16px;
}

.errors {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: 600px) {
        grid-template-columns: repeat(3, 200px);
        column-gap: 32px;
    }
}

.documents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 599px) {
        height: calc((100vw - 48px) / 2);
    }
    @media (min-width: 600px) {
        height: 200px;
        grid-template-columns: repeat(3, 200px);
        column-gap: 32px;
    }
    grid-gap:8px;
    .add-document {
        background-color: $medium-dark-background;
        width:100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            font-size: 1.2em;
            text-align: center;
            color: white;
        }
        mat-icon {
            font-size: 2em;
        }
        .success {
            font-size: 3em;
            color: green;
        }
        .error {
            font-size: 3em;
            color: $alert;
        }
        .spinner-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width:100%;
        }
    }
    margin-bottom: 16px;
}

.security-info {
    .security-header {
        font-weight: 600;
        margin-bottom: 16px;
    }
    ul {
        padding: 0 !important;
        list-style: none;
        li {
            margin-bottom: 8px;
            display: grid;
            grid-template-columns: 30px 1fr;
            
        }
    }
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
