<app-modal [title]="'Secure Identity Verification'" (close)="onClose($event)">
    <form *ngIf="!loading" novalidate [formGroup]="form">
        <div class="security-info">
            <div class="security-header">
                Relovely uses Stripe to quickly verify your identity
            </div>
            <ul>
                <li>
                    <fa-icon icon="lock"></fa-icon>
                    <div class="info">
                        Stripe handles billions of transactions with world-class security and identity verification
                    </div>
                </li>
                <li>
                    <fa-icon icon="shield-alt"></fa-icon>
                    <div class="info">
                        Your personal information is used only for verification purposes and will never be shared with
                        third-parties
                    </div>
                </li>
                <li>
                    <fa-icon icon="clock"></fa-icon>
                    <div class="info">
                        This process should take less than 5 minutes
                    </div>
                </li>
            </ul>
        </div>
        <div class="error" *ngIf="verification">
            <div>We need to get a little more information to verify your identity...</div>
            <div *ngFor="let error of verification.errors">
                {{error}}
            </div>
        </div>
        <div class="error" *ngIf="error">
            {{error}}
        </div>
        <ng-container *ngIf="formFields.indexOf('name') > -1">
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="First Name" formControlName="first" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Last Name" formControlName="last" />
                </mat-form-field>
            </div>
        </ng-container>
        <div class="double-field">
            <ng-container *ngIf="formFields.indexOf('birthday') > -1">
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="birthday"
                        id="dateOfBirth" readonly (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="formFields.indexOf('ssn') > -1">
                <mat-form-field appearance="outline">
                    <input type="text" autocomplete="off" maxlength="9" matInput placeholder="Social Security Number"
                        formControlName="ssn" />
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="formFields.indexOf('ssn4') > -1">
                <mat-form-field appearance="outline">
                    <input type="text" autocomplete="off" maxlength="4" matInput
                        placeholder="Last 4 Of Social Security Number" formControlName="ssn4" />
                </mat-form-field>
            </ng-container>
        </div>
        <div class="double-field">
            <ng-container *ngIf="formFields.indexOf('phone') > -1">
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Email" formControlName="email" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <input autocomplete="phone-number-no-fill" maxlength="10" matInput placeholder="Phone Number"
                            formControlName="phone" />
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="formFields.indexOf('address') > -1">
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Address" formControlName="line1" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Address Line 2" formControlName="line2" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="City" formControlName="city" />
                </mat-form-field>
            </div>
            <div class="state-zip">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="State" class="form-control" formControlName="state">
                            <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                                {{state.full}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Zip" formControlName="zip" maxlength="5" />
                    </mat-form-field>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="United States" formControlName="country" />
                </mat-form-field>
            </div>
        </ng-container>
        <div class="errors" *ngIf="frontError || backError">
            <div class="error">{{frontError}}</div>
            <div class="error">{{backError}}</div>
        </div>
        <div class="documents" *ngIf="formFields.indexOf('document') > -1">
            <div *ngIf="mobile" class="add-document" (click)="frontMobile.click()">
                <div class="spinner-wrapper" *ngIf="frontUploading">
                    <mat-spinner diameter="25" class="white">
                    </mat-spinner>
                </div>
                <ng-container *ngIf="!frontUploading">
                    <div *ngIf="!frontImage && !frontError">
                        <fa-icon icon="plus"></fa-icon>
                        <div>Front of ID</div>
                    </div>
                    <div class="success" *ngIf="frontImage && !frontError">
                        <fa-icon icon="check"></fa-icon>
                    </div>
                    <div class="error" *ngIf="frontError">
                        <fa-icon icon="times"></fa-icon>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="!mobile" class="add-document" class="add-document" (click)="frontDesktop.click()">
                <div class="spinner-wrapper" *ngIf="frontUploading">
                    <mat-spinner diameter="25" class="white">
                    </mat-spinner>
                </div>
                <ng-container *ngIf="!frontUploading">
                    <div *ngIf="!frontImage && !frontError">
                        <fa-icon icon="plus"></fa-icon>
                        <div>Front of ID</div>
                    </div>
                    <div class="success" *ngIf="frontImage && !frontError">
                        <fa-icon icon="check"></fa-icon>
                    </div>
                    <div class="error" *ngIf="frontError">
                        <fa-icon icon="times"></fa-icon>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="mobile" class="add-document" (click)="backMobile.click()">
                <div class="spinner-wrapper" *ngIf="backUploading">
                    <mat-spinner diameter="25" class="white"></mat-spinner>
                </div>
                <ng-container *ngIf="!backUploading">
                    <div *ngIf="!backImage && !backError">
                        <fa-icon icon="plus"></fa-icon>
                        <div *ngIf="!backImage">Back of ID</div>
                    </div>
                    <div class="success" *ngIf="backImage && !backError">
                        <fa-icon icon="check"></fa-icon>
                    </div>
                    <div class="error" *ngIf="backError">
                        <fa-icon icon="times"></fa-icon>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="!mobile" class="add-document" (click)="backDesktop.click()">
                <div class="spinner-wrapper" *ngIf="backUploading">
                    <mat-spinner diameter="25" class="white"></mat-spinner>
                </div>
                <ng-container *ngIf="!backUploading">
                    <div *ngIf="!backImage && !backError">
                        <fa-icon icon="plus"></fa-icon>
                        <div *ngIf="!backImage">Back of ID</div>
                    </div>
                    <div class="success" *ngIf="backImage && !backError">
                        <fa-icon icon="check"></fa-icon>
                    </div>
                    <div class="error" *ngIf="backError">
                        <fa-icon icon="times"></fa-icon>
                    </div>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="formFields.indexOf('tos') > -1">
            <div class="checkbox-wrapper">
                <mat-checkbox matCheckbox formControlName="tos">I Agree to the <a href="/member/terms">Terms of
                        Service</a> and Stripe's <a href="https://stripe.com/connect-account/legal">Connected Account
                        Agreement</a>
                </mat-checkbox>
            </div>
        </ng-container>
        <div class="button-wrapper">
            <app-button (click)="onClose($event)">
                <strong>Cancel</strong>
            </app-button>
            <button mat-stroked-button class="primary" [disabled]="!isFormValid()" (click)="onSave()">
                <strong> Submit </strong>
            </button>
        </div>
    </form>
    <input #frontDesktop type="file" ng2FileSelect [uploader]="frontUploader" style="visibility:hidden; height:0px;" />
    <input #backDesktop type="file" ng2FileSelect [uploader]="backUploader" style="visibility:hidden; height:0px;" />
    <input #frontMobile type="file" ng2FileSelect [uploader]="frontUploader" capture="camera"
        style="visibility:hidden; height:0px;" />
    <input #backMobile type="file" ng2FileSelect [uploader]="backUploader" capture="camera"
        style="visibility:hidden; height:0px;" />
    <div *ngIf="loading" class="loading">
        <mat-spinner [diameter]="25"></mat-spinner>
    </div>
</app-modal>