@import '../../../../styles-variables.scss';

.list-wrapper {
    overflow: hidden;
    position: relative;
    .left {
        height: 30px;
        width: 30px;
        position: absolute;
        top: calc((23vw - 4px) / 2);
        visibility: hidden;
        @media (min-width: $desktop-breakpoint) {
            visibility: visible;
            top: calc((30vw - 12px) / 2);
        }
        @media (min-width: $header-width) {
            top: 150px;
        }
        cursor: pointer;
        z-index: 101;
    }

    .right {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 0px;
        top: calc((23vw - 4px) / 2);
        visibility: hidden;
        @media (min-width: $desktop-breakpoint) {
            visibility: visible;
            top: calc((30vw - 12px) / 2);
        }
        @media (min-width: $header-width) {
            top: 150px;
        }
        cursor: pointer;
        z-index: 101;
    }
    .list-inner {
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        .user-item {
            text-align: center;
            flex: 0 0 calc(25vw - 4px);
            .user-inner {
                margin:8px;
            }
            @media (min-width: $desktop-breakpoint) {
                flex: 0 0 33vw;
                .user-inner {
                    margin:32px;
                }
            }
            @media (min-width: $header-width) {
                flex: 0 0 328px;
                .user-inner {
                    margin:50px;
                }
            }
            .name {
                color: $light-gray;
                font-size: .6em;
                margin-top:8px;
                margin-bottom:2px;
            }
            .shop {
                font-size: .8em;
                font-weight: 600;
            }
            cursor: pointer;
            @media (min-width: $desktop-breakpoint) {
                .name {
                    color: $light-gray;
                    font-size: 1em;
                    line-height: 1.3em;
                }
                .shop {
                    font-size: 1.1em;
                    line-height: 1.5em;
                    font-weight: 600;
                }
            }
        }
    }
}