.form-wrapper{
    margin: 16px;
    form {
        button {
            display: block;
            height: 40px;
            width:100%;
        }

    }

    &.reset {
        form {
            height: 200px;
            .email-input {
                position: relative;
                top: 32px;
            }
            button {
                position: relative;
                top: 100px;
            }
        }
    }
    &.sell {
        height: 200px;
    }
    &.sell {
        height: 250px;
    }
    &.instagram {
        height: 300px;
    }
    .sell-info {
        font-size: 1.1em;
        font-weight: 600;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }
    .link-text {
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .forgot {
        display: inline-block;
        width: 100%;
    }
}
.errors {
    padding: 8px 16px 0px 16px;
}

.outer-wrapper {
    &.signup {
        min-height:590px;
    }
    &.signin {
        min-height:486px;
    }
    &.instagram {
        min-height:325;
    }
}

.sign-up-divider {
    height: 40px;
    padding-top:10px;
    text-align: center;
}

.sign-in-divider {
    height:50px;
    padding-top:20px;
    text-align: center;
}

.button-wrap {
    display: flex;
    align-items: center;
}

.spacer {
    height:16px;
}

.loading-wrapper {
    display: grid;
    align-items: center;
    align-content: center;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.link-text {
    width:100%;
    text-align: center;
    margin-top:16px;
}

.link {
    font-weight: 500;
    cursor: pointer;
    &:hover {
        text-decoration:underline !important;
    }
}

.forgot {
    text-align: center;
}


.policies {
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
}

.instagram {
    font-size: 1.2em;
}