<app-center-modal>
  <div class="outer-wrapper" [class.signin]="state === 'signin'" [class.signup]="state === 'signup'"
    [class.reset]="state === 'reset'">
    <div *ngIf="!loading" class="modal-header">
      <div class="title">
        <div>{{title}}</div>
      </div>
      <div class="close">
        <img (click)="close()" src="./assets/images/close.svg" />
      </div>
    </div>
    <ng-container *ngIf="!loading" mat-stretch-tabs>
      <ng-container [ngSwitch]="state">
        <ng-container *ngSwitchCase="'signin'">
          <div class="errors">
            <div *ngIf="error !== null" class="form-error">{{error}}</div>
          </div>
          <div class="form-wrapper">
            <form novalidate [formGroup]="signInForm">
              <div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Email" formControlName="email" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Password" type="password" formControlName="password" />
                </mat-form-field>
              </div>
              <div class="spacer"></div>
              <button mat-stroked-button class="primary" (click)="signin()" [disabled]="!signInForm.valid">
                <strong>
                  SIGN IN
                </strong>
              </button>
            </form>
            <div class="sign-in-divider">
              Or
            </div>
            <div class="spacer"></div>
            <button class="facebook primary" mat-stroked-button (click)="continueWithFacebook()">
              <div class="button-wrap"> <img src="./assets/images/facebook-color.svg" /> <strong>Continue with Facebook
                </strong></div>
            </button>
            <div class="spacer"></div>
            <div class="link-text">
              Don't have an account?
              <a (click)="goTo('signup')" class="link" appClick target="_blank">
                Sign Up
              </a>
            </div>
            <div class="spacer"></div>
            <div class="forgot">
              <a class="link" (click)="forgot()">Forgot Password</a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'signup'">
          <div class="errors">
            <div *ngIf="error !== null" class="form-error">{{error}}</div>
            <div class="form-error" *ngIf="(passwordValue && passwordVerifyValue) && (passwordValue.length === passwordVerifyValue.length || !verify.focused)
              && signUpForm.invalid && signUpForm.errors && signUpForm.errors.passwordMatch">
              Passwords don't match
            </div>
            <div
              *ngIf="signUpForm.get('password').errors && signUpForm.get('password').errors.minlength && passwordValue.length && !password.focused"
              class="form-error">
              Password must be at least 8 characters long
            </div>
          </div>
          <div class="form-wrapper">
            <form novalidate [formGroup]="signUpForm">
              <div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Email" formControlName="email" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <input #password="matInput" matInput type="password" placeholder="Password"
                    formControlName="password" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <input #verify="matInput" matInput type="password" placeholder="Verify Password"
                    formControlName="verifyPassword" />
                </mat-form-field>
              </div>
              <button mat-stroked-button class="primary" (click)="signup()" [disabled]="!signUpForm.valid">
                <strong>
                  SIGN UP
                </strong>
              </button>
              <div class="sign-up-divider">
                Or
              </div>
            </form>
            <button class="facebook primary" mat-stroked-button (click)="continueWithFacebook()">
              <div class="button-wrap"> <img src="./assets/images/facebook-color.svg" /> <strong>Continue with Facebook
                </strong></div>
            </button>
            <div class="policies">
              By signing up you are agreeing to the
              <a (click)="goToPrivacy()" appClick target="_blank">privacy policy</a>
              and the
              <a appClick (click)="goToTerms()" target="_blank">terms of service</a>
              and will be added to the Relovely mailing list.
            </div>
            <div class="link-text">
              Already have an account?
              <a (click)="goTo('signin')" class="link" appClick target="_blank">
                Sign In
              </a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'reset'">
          <div class="errors">
            <div *ngIf="error !== null" class="form-error">{{error}}</div>
          </div>
          <div class="form-wrapper reset">
            <div class="reset-text"> {{resetText}}</div>
            <form novalidate [formGroup]="resetForm">
              <div class="email-input">
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Email" formControlName="identifier" />
                </mat-form-field>
              </div>
              <button mat-stroked-button class="primary" (click)="reset()" [disabled]="!resetForm.valid">
                <strong>
                  SUBMIT
                </strong>
              </button>
            </form>
            <div class="links">
              <div class="link-text">
                Already have an account?
                <a (click)="goTo('signin')" class="link" appClick target="_blank">
                  Sign In
                </a>
              </div>
              <div class="link-text">
                Don't have an account?
                <a (click)="goTo('signup')" class="link" appClick target="_blank">
                  Sign Up
                </a>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'instagram'">
          <div class="errors">
            <div *ngIf="error !== null" class="form-error">{{error}}</div>
            <div class="form-error" *ngIf="(instaPasswordValue && instaPasswordVerifyValue) && (instaPasswordValue.length === instaPasswordVerifyValue.length || !verify.focused)
            && memberForm.invalid && memberForm.errors && memberForm.errors.passwordMatch">
              Passwords don't match
            </div>
            <div
              *ngIf="memberForm.get('password').errors && memberForm.get('password').errors.minlength && passwordValue.length && !password.focused"
              class="form-error">
              Password must be at least 8 characters long
            </div>
          </div>
          <div *ngIf="!authenticated" class="form-wrapper sell">
            <div class="sell-info">
              To signup with Instagram, please click the button below to verify your Instagram account.
            </div>
            <button class="instagram primary" mat-stroked-button (click)="sellWithInstagram()">
              <img src="./assets/images/instagram-white.png" /> <strong>Apply with Instagram </strong> </button>
            <div class="policies">
              By joining you are agreeing to the
              <a (click)="goToPrivacy()" appClick target="_blank">privacy policy</a>
              and the
              <a appClick (click)="goToTerms()" target="_blank">terms of service</a>
            </div>
          </div>
          <div class="form-wrapper member" *ngIf="authenticated">
            <div class="sell-info">
              <div>Signing up as</div>
              <div class="instagram">{{authUsername}}</div>
            </div>
            <form novalidate [formGroup]="memberForm">
              <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="Email Address" formControlName="email" />
              </mat-form-field>
              <div>
                <mat-form-field appearance="outline">
                  <input #password="matInput" matInput type="password" placeholder="Password"
                    formControlName="password" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <input #verify="matInput" matInput type="password" placeholder="Verify Password"
                    formControlName="verifyPassword" />
                </mat-form-field>
              </div>
              <button mat-stroked-button class="primary" (click)="applyAsMember()" [disabled]="!memberForm.valid">
                <strong>
                  SIGNUP
                </strong>
              </button>
            </form>
            <div class="policies">
              By joining you are agreeing to the
              <a (click)="goToPrivacy()" appClick target="_blank">privacy policy</a>
              and the
              <a appClick (click)="goToTerms()" target="_blank">terms of service</a>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <div *ngIf="loading" class="loading-wrapper">
      <div class="loading">
        <mat-spinner diameter="25"></mat-spinner>
      </div>
    </div>
  </div>
</app-center-modal>