@import '../../../../styles-variables';


form {
    height: auto;
    position:relative;
    .button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 16px;
    }
}