<form novalidate [formGroup]="form">
    <mat-form-field appearance="outline">
        <input matInput placeholder="Full Name" formControlName="name" />
    </mat-form-field>
    <div class="error">
        {{error}}
    </div>
    <ngx-stripe-card (on)="onCardChanged($event)" [options]="cardOptions" [elementsOptions]="elementsOptions">
    </ngx-stripe-card>
    <div class="button-wrapper" [style.margin-top.px]="buttonMargin">
        <app-button (click)="onClose()">
            <strong>Cancel</strong>
        </app-button>
        <button mat-stroked-button class="primary" (click)="onSave()" [disabled]="!form.valid">
            <strong> Save </strong>
        </button>
    </div>
</form>