@import '../../../../styles-variables';


form {
    height: 200px;
    position:relative;
    margin: 8px 8px;
    mat-form-field {
        width: 100%;
    }
    .error {
        color: $alert;
        margin-bottom: 4px;
    }
    .button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 16px;
    }
}