@import '../../../../../styles-variables.scss';

.members {
    margin: 0 auto;
    width: 1000px;
    padding:16px;
    .member {
        padding:6px;
        display: grid;
        column-gap: 8px;
        align-items: center;
        grid-template-columns: 150px 150px 250px 150px;
        &:nth-child(odd) {
            background-color: $medium-gray-background;
        }
    }
}