.image-wrapper {
    img {
        width:100%;
    }
}

.info-footer {
    padding-top:.5em;
    .product-name {
        font-size: .8em;
    }
    .product-size {
        font-size:.7em;
        color: #686868;
    }
    .product-price {
        font-size:.7em;
        color: #686868;
    }
}