<div (click)="onClicked($event)">
  <div class="image-wrapper">
    <img class="product" [src]="product.images[0].cropped">
    <div *ngIf="product.sold" class="sold-overlay">
      <span class="sold">SOLD</span>
    </div>
  </div>
  <div class="info-footer">
    <div class="product-name">
      {{product.title}}
    </div>
    <div *ngIf="product.sizeId" class="product-size">
      Size: {{product.sizeId | appSize}}
    </div>
    <div class="product-price">
      {{product.price | appCurrency}}
      <span *ngIf="product.retailPrice" class="strike-through"> {{product.retailPrice | appCurrency}}
      </span>
    </div>
  </div>
</div>