@import '../../../../styles-variables.scss';

.image-wrapper {
    position: relative;
    img {
        width:100%;
    }
    .sold-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        .sold {
            font-size: 25px;
            color: white;
        }
    }
}

.info-footer {
    padding-top:.5em;
    display: block;
    height: 80px;
    @media (min-width:$desktop-breakpoint) {
        height: 100px;
    }
    .product-name {
        font-size: 14px;
        max-height: 36px;
        font-weight: 600;
        line-height: 18px;
        @media (min-width:$desktop-breakpoint) {
            font-size: 16px;
            line-height: 20px;
            max-height: 40px;
        }
        display: inline-block;
        overflow: hidden;
    }
    .product-size {
        font-size:14px;
        .size {
            font-weight: 1000;
        }
    }
    .product-price {
        font-size:14px;
        margin-top: 4px;
    }
    @media (min-width:$desktop-breakpoint) {
        .product-name {
            font-size: 18px;
        }
        .product-price {
            font-size: 16px;
        }
        .product-size {
            font-size: 16px;
        }
    }
}
