@import '../../../../styles-variables.scss';

.image-wrapper {
    position: relative;
    img {
        width:100%;
    }
    .sold-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        .sold {
            font-size: 25px;
            color: white;
        }
    }
}

.info-footer {
    padding-top:.5em;
    display: block;
    height: 4em;
    @media (min-width:$desktop-breakpoint) {
        height: 6em;
    }
    .product-name {
        font-size: 14px;
        max-height: 2em;
        font-weight: 600;
        @media (min-width:$desktop-breakpoint) {
            font-size: 16px;
            max-height: 40px;
        }
        display: inline-block;
        overflow: hidden;
    }
    .product-size {
        font-size:.7em;
        color: #686868;
    }
    .product-price {
        font-size:.7em;
        color: #686868;
    }
    @media (min-width:$desktop-breakpoint) {
        .product-name {
            font-size: 1.1em;
            line-height: 1.2em;
        }
        .product-price {
            font-size: .9em;
            line-height: 1.3em;

        }
        .product-size {
            font-size: .9em;
            line-height: 1.3em;
        }
    }
}