@import '../../../../styles-variables.scss';

.crumb {
    color: $dark-gray-background;
    a {
        cursor: pointer;
        font-weight: 400;
        &:hover {
            color: $dark-blue;
        }
    }
}