@import '../../../../styles-variables.scss';

.crumb {
    color: $action-button;
    font-weight: 400;
    font-size: 1.1em;
    a {
        cursor: pointer;
        color: $dark-blue !important;
    }
}