<div class="list-wrapper">
    <ul>
        <li class="alert-after" [class.active]="sizesActive" #sizeTrigger="matMenuTrigger" [class.hidden]="hideSizeMenu"
            (mouseenter)="onEnterTrigger($event, 'size')" [matMenuTriggerFor]="sizeMenu">
            Size
            <img src="./assets/images/chevron-down.svg">
        </li>
        <li class="alert-after" [class.active]="colorsActive" #colorTrigger="matMenuTrigger"
            (mouseenter)="onEnterTrigger($event, 'color')" [matMenuTriggerFor]="colorMenu">
            Color
            <img src="./assets/images/chevron-down.svg">
        </li>
        <li class="alert-after" [class.active]="pricesActive" #priceTrigger="matMenuTrigger"
            (mouseenter)="onEnterTrigger($event, 'price')" [matMenuTriggerFor]="priceMenu">
            Price
            <img src="./assets/images/chevron-down.svg">
        </li>
        <!-- <li #listingsTrigger (mouseenter)="listingsTrigger.openMenu()" [matMenuTriggerFor]="listingsMenu">
            Listings
            <img src="./assets/images/chevron-down.svg">
        </li> -->
    </ul>
    <!-- <mat-paginator [length]="1" [hidePageSize]="true"></mat-paginator> -->
    <!-- <span>1 to 25 of 25</span> -->
</div>
<div class="border">
</div>


<mat-menu #sizeMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
    <!--
        <span class="below-menu" (mouseover)="closeActiveMenu()"></span>
      -->
    <div class="size-menu-wrapper" (mouseover)="closeActiveMenu()">
        <span class="top-menu" (mouseover)="closeActiveMenu()"></span>
        <span class="left-menu" (mouseover)="closeActiveMenu()"></span>
        <span (mouseover)="$event.stopPropagation()" class="size-wrapper"
            (mouseleave)="onLeaveTrigger($event, 'size')"></span>
    </div>
    <div (mouseover)="$event.stopPropagation()" (mouseleave)="onLeaveMenu($event, 'size')" class="size-filter-wrapper"
        (click)="$event.stopPropagation()">
        <div *ngFor="let size of currentSizeFilters">
            <li *ngFor="let filter of size.filters">
                <input [class.selected]="size.selectedKeys.indexOf(filter.key) > -1"
                    (click)="selectSize(size, filter.key)" type="checkbox">
                {{filter.value}}
            </li>
        </div>
    </div>
</mat-menu>

<mat-menu #colorMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
    <div class="color-menu-wrapper" (mouseover)="closeActiveMenu()">
        <span class="top-menu" (mouseover)="closeActiveMenu()"></span>
        <span class="left-menu" (mouseover)="closeActiveMenu()"></span>
        <span (mouseover)="$event.stopPropagation()" class="color-wrapper"
            (mouseleave)="onLeaveTrigger($event, 'size')"></span>
    </div>
    <div (mouseleave)="onLeaveMenu($event, 'color')" class="color-filter-wrapper" (click)="$event.stopPropagation()">
        <div (click)="selectColor(color)" class="dot" [class.selected]="selectedColors.indexOf(color.key) > -1"
            [style.background-color]="color.color" *ngFor="let color of colors">
        </div>
    </div>
</mat-menu>

<mat-menu #priceMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
    <div class="price-menu-wrapper" (mouseover)="closeActiveMenu()">
        <span class="top-menu" (mouseover)="closeActiveMenu()"></span>
        <span class="left-menu" (mouseover)="closeActiveMenu()"></span>
        <span (mouseover)="$event.stopPropagation()" class="price-wrapper"
            (mouseleave)="onLeaveTrigger($event, 'size')"></span>
    </div>
    <div (mouseleave)="onLeaveMenu($event, 'price')" class="price-filter-wrapper" (click)="$event.stopPropagation()">
        <mat-basic-chip disableRipple [class.selected]="selectedPriceFilters.indexOf(item) > -1"
            (click)="setPriceFilter(item)" *ngFor="let item of priceFilters">
            <div> {{item.name}}</div>
        </mat-basic-chip>
    </div>
</mat-menu>

<!-- <mat-menu #listingsMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
    <div class="listing-wrapper" (mouseleave)="onLeaveMenu($event, 'listings')" (click)="$event.stopPropagation()">
    </div>
    <div (mouseleave)="onLeaveMenu($event)" class="listings-filter-wrapper"></div>
</mat-menu> -->