@import '../../../../../styles-variables.scss';


.border {
    height:1px;
    width:100%;
    background-color: $dark-gray-background;
}

.size-filter-wrapper {
    height:300px;
    padding-top:16px;
    padding-right:16px;
    overflow:scroll;
    div {
        padding-bottom:16px;
        li {
            margin-bottom:.1rem;
            list-style-type:none;
            input {
                cursor: pointer;
                border: 1px solid #333;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                height: 16px;
                width: 16px;
                margin-right: 16px;
                margin-left: 16px;
                &.selected {
                    background-color: $dark-blue;
                }
            }
        }
    }
}

.color-filter-wrapper {
    height:300px;
    display: grid;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(4, 75px);
    .dot {
        height: 50px;
        width:50px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid gray;
        &.hover {
            cursor: pointer;
        }
        &.selected {
            box-shadow: 0px 0px 0px 2px black;
        }
    }
}

.price-filter-wrapper {
    height:160px;
    width: 332px;
    display: grid;
    align-items: center;
    align-content: center;
    column-gap:16px;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 35px);
    padding-left: 8px;
    mat-basic-chip {
        div {
            width:fit-content;
            margin: 0 auto;
        }
        &.hover {
            cursor: pointer !important;
        }
        background-color: $medium-gray-background !important;
        color: $dark-gray !important;
        border: solid $dark-gray 1px;
        &.selected {
          background-color: $dark-gray !important;
          color:  $medium-gray-background !important;
        }
    }
}

.list-wrapper {
    max-width: $products-width;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    padding: 0px 16px;
    ul {
        margin-top:24px;
        margin-bottom:0px;
        padding-inline-start:0px !important;
        height:30px;
        li {
            height:30px !important;
            display:inline-block;
            list-style-type:none;
            margin-right:2rem;
            color: $action-button;
            img {
                height:15px;
            }
        }
    }
}


.size-menu-wrapper {
    top: -50px;
    height: 60px;
    width: 100vw;
    left:0px;
    position: absolute;
    .top-menu {
        height: 300px;
        top:-300px;
        width:100vw;
        position:absolute;
    }
    .left-menu {
        height: 55px;
        left:-500px;
        width:500px;
        height:100vh;
        position:absolute;
    }
    .size-wrapper {
        height: 60px;
        width:80px;
        position: absolute;
    }
}

.color-menu-wrapper {
    top: -50px;
    height: 60px;
    width: 100vw;
    left:0px;
    position: absolute;
    .top-menu {
        height: 100px;
        top:-100px;
        width:100vw;
        position:absolute;
    }
    .left-menu {
        height: 55px;
        left:-500px;
        width:500px;
        height:100vh;
        position:absolute;
    }
    .color-wrapper {
        height: 60px;
        width:80px;
        top:0px;
        position: absolute;
    }
}

.price-menu-wrapper {
    top: -50px;
    height: 60px;
    width: 100vw;
    left:0px;
    position: absolute;
    .top-menu {
        height: 100px;
        top:-100px;
        width:100vw;
        position:absolute;
    }
    .left-menu {
        height: 55px;
        left:-300px;
        width:300px;
        height:100vh;
        position:absolute;
    }
    .price-wrapper {
        height: 60px;
        width:80px;
        top:0px;
        position: absolute;
    }
}
