@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@import 'themes/light-theme.scss';

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 20px, 500),
  $button: mat-typography-level(16px, 20px, 300)
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);
@include angular-material-theme($app-light-theme);

@media (max-width: 899px) {
  .mat-toolbar-multiple-rows {
    min-height:44px !important;
  }
}

a {
  color: $link-blue !important;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
  }
  &.mat-list-item {
    color: $dark-blue !important;
  }
}

.alert-box {
  background-color: $light-blue;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid $medium-blue;
  color: #31708f;
  font-weight: 500;
  &.success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
  }
  &.warning {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
  }
}

.invisible {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  
}

.loading {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  div {           
      width: 50px !important;
      height:50px !important;
  }
}

.relative-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-card {

  @media(min-width: $desktop-breakpoint) {
    background-color: white;
    @include mat-elevation(2);
    border-radius: 6px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 16px;
  }

  .page-card-header {
    @media(max-width: $mobile-breakpoint) {
      visibility: hidden;
      height: 0;
      width: 0;
      padding: 0 !important;
    }
    padding: 12px 12px;
    position: relative;
      h1 {
        width: fit-content;
        margin: 0 auto;
          margin-bottom: 0 !important;
          font-weight: 300;
          font-size: 1.9em;
          font-family: 'Roboto Light', sans-serif !important;
      }
      &::after {
        content: '';
        width: 100%;
        border-bottom: solid .5px  #d9d9d9;
        position: absolute;
        left: 0;
        margin-top: 16px;
        z-index: 1;
      }
    }
  .page-card-body {
    padding-top: 16px;
    @media(min-width: $desktop-breakpoint) {
        padding-bottom: 16px;
    }
  }
}

.double-field {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  @media (min-width: $desktop-breakpoint) {
    grid-gap: 8px;
  }
}

form {
  mat-form-field {
      width: 100%;
  }
  textarea {
      height:100px;
  }
}



.error {
  color: $alert;
  font-weight: 600;
  margin-bottom: 8px;
}

.state-zip {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: auto;
  grid-column-gap: 16px;
}
app-center-modal {
  .modal-header {
    display: grid;
    grid-template-areas: 'left middle right';
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 50px;
    .title {
        display: grid;
        grid-area: middle;
        align-content: center;
        font: 500 26px 'Roboto Light', sans-serif !important;

        div {
            text-align: center;
            font: 500 26px 'Roboto Light', sans-serif !important;
        }
    }
    .close {
        display: grid;
        align-content: center;
        grid-area: right;
        img {
            width:40px;
            cursor: pointer;
        }
    }
  }
}

.cdk-overlay-container {
  background-color: transparent !important;
  .cdk-overlay-pane {
    margin-top:12px;
    .mat-menu-panel {
      max-width:400px !important;
    }
  }
}

cl-video {
  max-height:100%;
  max-width: 100%;
  video {
      max-height: 100% !important;
      max-width: 100% !important;
  }
}

.icon-wrapper, .search__form {
  button.mat-icon-button {

    // width: $search-bar-height !important;
    // height: $search-bar-height !important;
    img {
  
    }
    fa-icon {
  
    }

    &.account {
      cursor: pointer;
      img.caret {
        height: 10px;
        position: absolute;
        bottom: -1px;
        right: -4px;
      }
    }
  }
}

.list-wrapper {
  mat-paginator {
      margin-top: 32px;
      height: 30px;
      height:30px;
      overflow: hidden;
      div {
          height:30px !important;
          div {
              height:30px  !important;;

          }
      }
  }
}

.form-error {
  color: $alert;
}

button.mat-accent {
  background-color: $pink-button !important;
  &.normal:disabled {
    background-color: #997d85 !important;
  }
  font-weight: 500;
  color:white !important;
}

mat-spinner.white.mat-progress-spinner {
  circle {
    stroke: white !important;
  }
}

.mat-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.mat-tab-label {
  opacity: 1 !important;
  &.mat-ripple.ng-star-inserted.mat-tab-label-active
  div.mat-tab-label-content {
  color: $dark-blue !important;
  opacity: 1 !important;
  font-weight: 500 !important;
  }
}

.mat-form-field-outline.mat-form-field-outline-thick {
  .mat-form-field-outline-end {
    border-width: .5px !important;
  }
  .mat-form-field-outline-start {
    border-width: .5px !important;
  }
  .mat-form-field-outline-gap {
    border-width: .5px !important;
  }
}

.field.StripeElement {
  @include mat-elevation(1);
  padding: 0px 6px;
  border-radius: 4px;
  border: .5px solid rgba(0, 0, 0, 0.12);
  background-color: white;
}

.mat-form-field-flex {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  .mat-form-field-infix {
    border-top: none !important;
    padding:8px 0px !important;
    input {
      height:30px;
    }
    mat-select {
      height:30px;
      .mat-select-trigger {
        height: 30px;
        display: grid !important;
        grid-template-columns: 1fr 12px;
        grid-template-rows: auto;
        align-items: center;
        .mat-select-value {
          padding: 0px;
          max-width: 1000px;
        }
      }
    }
  }
  .mat-form-field-outline {
    top:0px !important;
  }
}

.mat-form-field-label-wrapper {
  margin-left:8px;
  top: -.5em;
  padding-top: 0 !important;
  label.mat-form-field-label {

  }
}

.mat-form-field-underline {
  visibility: hidden;
}

.cdk-overlay-container {
  background-color: $background-gray;
}

mat-paginator {
  div.mat-paginator-outer-container {
    background-color: $background-gray;
  }
}

.mat-icon-button {
  border:none;
  height: 40px;
  &.black {
    font-size: 24px !important;
    color: black !important;
  }
  
  // &.menu {
  //   display: grid;
  //   align-items: center;
  //   align-content: center;
  //   width:100%;
  //   fa-icon {
  //     height:30px;
  //   }
  // }
}

div.left {
  app-button {
      button {
        width: fit-content !important;
        background-color: $action-button !important;
          height:20px !important;
          display: flex;
          margin: 0;
          align-items: center;
          align-content: center;
          span {
            height: 20px;
            margin-top: -14px;
            font-size:12px;
          }
      }
  }
}

.logo {
  height: 100%;
  cursor: pointer;
  height: 55px;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  border-radius: 0 !important;
 min-width: 25px !important;
 line-height:unset !important;
 &.primary:hover {
   &.enabled {
    background-color: $dark-blue !important;
   }
 }
}

.header-bar {
  width:100%;
  background-color: $dark-blue;
  &.home {
    padding-left: 10px;
  }
}

.icon-wrapper.desktop {
  display: grid;
  max-width:150px;
  grid-template-columns: 1fr 1fr 1fr;
  &.mobile {
    grid-template-columns: 1fr 1fr !important;
  }
  grid-template-rows: 30px;
  div.signin {
    margin: unset !important;
    vertical-align: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    font: 500 15px Roboto, sans-serif !important;
    color: $dark-gray;
    div {
      margin-bottom: 3px;
    }
    &:hover {
      color:black;
    }
  }
  button {
    height: 30px;
    &.menu {

      img.profile {
        vertical-align: unset;
        width:22px !important;
        height:22px !important;
        margin-top:2px;
        border-radius: 11px;
      }
      &.alert::after {
        content:"\A";
        width:10px;
        height:10px;
        border-radius:50%;
        background: $alert;
        display:inline-block;
        position: relative;
        left: 2px;
        top: -12px;
      }
    }
    font-size:18px;
    svg {
      vertical-align: unset;
      margin: unset !important;
      color: black !important;
      margin:0 auto;
  }
 }
}

.icon-wrapper.mobile {
  display: flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;
}


.mat-list-item-content {
  padding:0px !important;
  .top-level {
    display: flex;
    width:100%;
    height: 75px;
    margin: 10px;
    background-color: $medium-dark-background !important;
    justify-content: center !important;
    align-items: center;
    font-size: 20px;
    &.alert::after {
      content:"\A";
      width:10px;
      height:10px;
      border-radius:50%;
      background: $alert;
      display:inline-block;
      position: relative;
      left: 25px;
      top: 0px;
    }
  }

  .nested {
    display: flex;
    width:100%;
    height: 50px;
    background-color: $medium-gray-background;
    justify-content: start !important;
    align-items: center;
    span {
      padding-left:10px;
      &.alert::after {
        content:"\A";
        width:10px;
        height:10px;
        margin-left: 4px;
        border-radius:50%;
        background: $alert;
        display:inline-block;
      }
    }
  }
  .nested::after {
    margin-top:25px;
    content: '';
    width: 100%;
    border-bottom: solid .5px $header-border;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
  }
}

mat-sidenav-content {
  margin-left:0px !important;
  background-color: $background-gray !important;
  position:fixed !important;
  height:auto !important;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

mat-sidenav {
  overflow: hidden !important;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
  button.close {
    position: absolute;
    top: 8px;
    right: 0px;
  }
}
mat-drawer-content {
   -webkit-overflow-scrolling: touch  !important;
   overflow-y: scroll !important;
}

mat-basic-chip {
  background-color: $dark-gray-47 !important;
  color:white  !important;
  border-radius:8px !important;
  font-weight: 350 !important;
  padding-left:10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  height: 25px;
  margin-left: 5px;
  &.selected {
    background-color: $dark-blue !important;
  }
}
.filter-bar {
  div.mat-chip-list-wrapper {
    width:fit-content;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: absolute;
    top:0;
    bottom:40px;
    margin: 0 !important;
    height:40px;
    mat-chip-list {
      position: absolute;
      top:0;
      bottom:40px;
      width:100%;
      height:40px;
    }
  }
}

mat-chip-list mat-chip {

}


// Filter Bar Tabs

.filter-bar {

  mat-tab-group {
    height:70px;
    overflow: hidden;
    mat-tab-header {
        div.mat-tab-label-container {
            div.mat-tab-list {
              div.mat-tab-labels {
                div.mat-tab-label {
                  padding: 0px !important;
                  align-items: flex-end !important;
                  min-width: 60px !important;
                  div.mat-tab-label-content {
                    font-size: .85em;
                  }
                }
              }
              mat-ink-bar {
                background-color: $header;
              }
            }
        }
    }
  }

  div.mat-tab-body-content {
    overflow-y: hidden;
    width:100%;
    position: absolute;
    top:0;
    bottom:40px;
    height:40px;
  }

  mat-tab-body {
    height:40px;
    position: absolute;
    overflow-x: auto !important;
    overflow-y: hidden !important;
  }

  mat-tab-header {
    height:30px !important;
    .mat-tab-labels {
      height:30px !important;
      .mat-tab-label {
        height:30px !important;
      }
    }
  }
}

// Profile Tabs

.profile .profile-container {
  @media( max-width:$mobile-breakpoint) {
      mat-tab-body {
          background-color: $background-gray !important;
      }
  }
}

.member-profile-container {
  overflow: hidden;
  .mat-tab-body-wrapper {
    margin-top: -25px;
  }

  @media( max-width:$mobile-breakpoint) {
    mat-tab-body {
        background-color: $background-gray !important;
    }
  } 

  mat-tab-header {
    height: 50px !important;
    bottom: 30px !important;
      div.mat-tab-label-container {
          div.mat-tab-list {
            height: 50px;
            width:100%;
            div.mat-tab-labels {
              height: 50px !important;
              bottom: 30px !important;
              div.mat-tab-label {
                align-items: flex-end !important;
                padding-bottom: 5px;
                height: 50px !important;
                div.mat-tab-label-content {
                  font-size: .85em;
                  margin-bottom: 4px;
                }
              }
            }
          }
          mat-ink-bar {
            height: 4px;
            background-color: $dark-blue !important;
          }
      }
  }
  mat-tab-header {
      div.mat-tab-label-container {
          div.mat-tab-list {
            div.mat-tab-labels {
              @media( min-width:$desktop-breakpoint) {
                width:50% !important;
                display: grid;
                grid-template-columns: 1fr 1fr;
              }
            }
          }
        }
      }
      app-profile-header {
        app-profile-stats {
        .stat-container {
          display: grid;
          @media( min-width:$desktop-breakpoint) {
            grid-template-columns: 0px 1fr 1fr 0px !important;
            display: grid;
            width:50% !important;
          }
          @media( max-width: 599px) {
            grid-template-columns: auto 105px 105px auto;
          &:nth-child(2) {
            width:105px;
          }
          &:nth-child(3) {
            width:105px;
          }
         }
         @media( min-width: 600px) {
          grid-template-columns: auto 160px 160px auto;
            &:nth-child(2) {
              width:105px;
            }
            &:nth-child(3) {
              width:105px;
            }
        }
        }
      }
    }
  }

  .profile-container {
    background-color: $medium-gray-background;
    @media( min-width:$desktop-breakpoint) {
        padding-top: 8px;
        border-left: solid $header-border 1px;
        border-right: solid $header-border 1px;
    }
    @media( max-width:$mobile-breakpoint) {
        mat-tab-body {
            background-color: $background-gray !important;
        }
    }
}



.profile-container {
  overflow: hidden;
  min-height: 100%;
  .mat-tab-body-wrapper {
    margin-top: -25px;
  }

  mat-tab-header {
    height: 50px !important;
    bottom: 30px !important;
      div.mat-tab-label-container {
          div.mat-tab-list {
            height: 50px;
            width:100%;
            @media( min-width:$desktop-breakpoint) {
              // margin-left: 240px;
            }
            div.mat-tab-labels {
              height: 50px !important;
              bottom: 30px !important;
              display: grid !important;
              grid-template-columns: 1fr 1fr 1fr 1fr;
              grid-template-rows: auto;
              div.mat-tab-label {
                &.cdk-focused {
                  font-weight: 500;
                  color: $dark-blue !important;
                }
                align-items: flex-end !important;
                padding-bottom: 10px;
                height: 50px !important;
                div.mat-tab-label-content {
                  font-size: .85em;
                }
              }
            }
          }
          mat-ink-bar {
            height: 4px;
            background-color: $dark-blue !important;
          }
      }
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding:0px !important;
  color: $dark-gray !important;
}

.toolbar-filler {
  display:grid;
  align-items: center;
  img {
    margin-bottom: 3px;
  }
}


.desktop-bar {
   margin: 0 auto;
   width:1400px;
   padding-right: 16px;
   padding-left:16px;
   height: 56px;
  .desktop-bar-inner {
    align-content: center;
    height: 56px;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 120px auto 150px;
    align-items: center;
    max-width: 100%;
    min-width:$desktop-breakpoint;
    app-search-bar {
      display: grid;
      align-items: center;
      margin-bottom:8px;
      .search {
        // border: solid black 1px;
      }
    }
    img {
      // margin-right:16px;
      // margin-left:16px;
    }
  }
}

mat-toolbar-row.mega-menu-bar {
  background-color: white !important;
  .menu-wrapper {
    margin: 0 auto;
    width: $desktop-width;
    .menu {
      display:grid;
      grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
        span {
          text-align: center;
          h1 {
            width: fit-content;
            margin: 0 auto;
            cursor:pointer;
            display: inline-block;
            font-size: 1.3em;
            font-weight: 300 !important;
          }
      }
    }
  }
}

.menu-bar-container {
  margin: 0 auto;
  height: 45px;
  width: 576px;
  .menu-wrapper {
    width:288px;
    display: inline-block;
    &.links {
      width:288px;
      display: inline-block;
    }
    .menu {
      display:grid;
      align-items: center;
      height: 45px;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 144px);
        span {
          height: 45px;
          display: grid;
          align-items: center;
          color: $dark-blue;
          font-weight: 300;
          h1 {
            margin:0 auto;
            width: fit-content;
            cursor:pointer;
            display: inline-block;
            font-size: 1.1em;
            font-weight: inherit;
            &:hover {
              text-decoration: underline;
            }
            &.current {
              font-weight: 400 !important;
              text-decoration: underline !important;
            }
          }
      }
    }
  }

}

.desktop-menu-bar {
  background-color: $background-gray;
  width:100%;
  height: 65px !important;
}

.desktop-content {
  margin: 0 auto;
  max-width: $inner-desktop-width;
}

.page-title {
  h1 {
    font: 300 1.9em 'Roboto Light', sans-serif !important;
    margin: 0 auto;
    width: fit-content;
  }
  margin-bottom: 16px;
  margin-top: 16px;
}

.full-content {
  margin: 0 auto;
  max-width: $header-width;
  flex: auto;
  @media(max-width: $header-width) {
    width:100vw;
  }
  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.home {
    padding: 0px 8px 8px 8px;
    @media(min-width: $desktop-breakpoint) {
      padding: 0px;
    }
  }
  &.profile { 
    width: 100%;
    @media(min-width: $desktop-breakpoint) {
      grid-template-rows:auto;
      display:grid;
      grid-template-columns: 35% 1fr;
      @media(min-width: 1000px) {
        grid-template-columns: 25% 75%;;
      }
    }
  }
}

html {
  body {
  // font-size: calc(1em + 1vw) !important;
  overflow:hidden;
  line-height: 1.1 !important;
  }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.desktop-wrapper {
  padding:16px;
  max-width: $desktop-width;
  margin: 0 auto;
  min-height:100%;
  background-color: $background-gray;
}



.mega-menu-wrapper {
 top:118px;
 height:$mega-menu-height;
 left:0px;
  right:0px;
  display: inline-block;
  position:absolute;
  z-index:101 !important;
  background-color: $background-gray;
  border-bottom: solid 1px $dark-gray-background;
}
 .mega-menu {
    margin: 0 auto;
    position: relative;
    z-index:101 !important;
    width:$desktop-menu-width;
    height:$mega-menu-height;
      .mega-menu-inner-wrapper {
        width: $mega-menu-width;
        height: $mega-menu-height;
        .mega-menu-header {
          display: grid;
          width: $mega-menu-width;
          height:55px;
          grid-template-columns: repeat(4, 1fr);
          .menu-item h1 {
            margin-top:16px;
            font-weight: 400px;
            color: black;
            font-size:1.2em;
            cursor:pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .mega-menu-body {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          height:261px;
          div ul { 
            padding-inline-start: 0px !important;
            li {
              font-weight: 400 !important;
              margin: 0 0 12px 0;
              list-style-type: none;
              cursor:pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
    }
  }
 }

 app-user-list {
  .avatar-wrapper {
    padding-left: 8px;
    }
    .info {
      padding-left: 8px;
    }
  }

  app-verify,  app-facebook-auth, app-reset-password  {
    @media(max-width: $mobile-breakpoint) {
      min-height: calc(100vh - 56px);
    }
  }


button.mat-stroked-button {
  // background: $gray-button !important;
}


button {
  min-height: 30px;
  &.primary {
  background-color: $light-gray !important;
  color:white !important;
  &:disabled {
    background-color: $dark-gray-background !important;
  }
  &.facebook {
    width: 100%;
    background-color:  #1877F2 !important;
    margin: 0 auto;
    height:40px;
    img {
        height: 22px;
        margin-right: 16px;
        margin-left:-5px;
    }
  }
  &.instagram {
    margin: 16px 0px;
    width: 100%;
    background-color: #3f729b !important;
    height:40px;
    img {
        height:24px;
        margin-right: 16px;
    }
  }
  &.sell {
    background-color: black !important;
    width: 150px !important;
  }
  &.destroy {
    background-color: $alert !important;
  }

  &.success {
    background-color: $success !important;
  }
 }
}



button.mat-flat-button.mat-accent {

}

.light-theme .mat-toolbar {
  background: $background-gray !important;
}


div.filter-bar {
  width:100%;
}


// Search Bar

  .search-tool-bar {
    display: grid;
    grid-template-columns: 40px auto;
    align-content: center;
    background-color: $background-gray;
      app-search-bar {
        .search {
          border: solid black 1px;
        }
      }
        button  {   
          // display: contents;
      }
  }

.search-wrapper {
  display:grid;
  width:auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 150px;
    form input {
      width:150px;
      border-bottom: solid 1px  $light-gray !important;
      background: $background-gray;
    }
    .search fa-icon {
      font-size:26px;
  }
}
  

  .mat-menu-content {
    padding:0px !important;
    display:inline-block;
    width:100%;
      background-color:  $background-gray !important;
      cursor:default;
      .menu-wrapper {
        margin-top:8px;
        margin-bottom:8px;
        display: grid;
        height:100%;
        width:100%;
        .menu-item-wrapper {
          width:100%;
          cursor:pointer;
          ul {
            list-style-type: none;
            padding:0;
            
            margin-bottom: 0 !important;
            li {
              height:30px;
              align-items: center;
              display: grid;
              grid-template-columns: 1fr 12px;
              padding: 0px 16px;
              &:hover {
                background-color: $medium-gray-background;
              }
              &.alert::after {
                content:"\A";
                width:10px;
                height:10px;
                margin-left: 4px;
                border-radius:50%;
                background: $alert;
                display:inline-block;
              }
            }
          }
        }
      }
  }

// div.mat-form-field-infix {
//     background-color: white !important;
//   }




//// DRAGULA

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

// VIDEO PLAYER 

.video {
  .video-preview {
    @media (max-width: 599px) {
      height: calc((100vw - 48px) / 3);
  }
  @media (min-width: 600px) {
      height: 195px;
  }
      app-video-player {
        @media (max-width: 599px) {
          height: calc((100vw - 48px) / 3);
      }
      @media (min-width: 600px) {
          height: 195px;
      }

      }
  }
}

.tag {
    background-color: $dark-blue;
    border-radius: 2px;
    color: #fff;
    font-size: .8em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-align: center;
    &.alert {
      background-color: $alert;
    }
    &.success {
      background-color: green;
    }
}

.success {
  color: green;
  font-weight: 600;
}

image-cropper {
  padding: 0px !important;;
  div.overlay {
    outline: none !important;
  }
  div.cropper {
    outline: none !important;
  }
}

image-cropper:first-child {
  width: fit-content !important;
  margin: 0 auto;
} 
