@import '~@angular/material/theming';

$toolbar-breakpoint: 600px;

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;



$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);

$background-gray: #fafafa;
$dark-gray-background: #8E8E8E;
$medium-gray-background:#f2f2f2;
$medium-dark-background: #d3d2d2;
$light-gray: #575757;
$dark-gray-47: #878A8A;
$dark-gray: #373636;
$dark-blue: #2D3636; //#364141 //#344343;//#1E2F2F; //#334756;
$light-blue: #313A3A;
$header: #2D3636;//#575757;
$action-button: #575E5E;
$link-blue: #004c9d;
$pink-text: #a76e6e;
$pink-favorite: #D6AEBB;
$pink-button: #9e566c;// #997d85
$alert: #ab2e46;
$success: #46AB2E;
$header-border:#b9bdbe;
$light-blue: #d9edf7;
$medium-blue: #bcdff1;;

$desktop-width: 1140px;
$products-width: 1300px;
$modal-width: 600px;
$header-width: 1312px;
$inner-desktop-width: 1140px;
$desktop-menu-width: 720px;
$mega-menu-height: 525px;
$mega-menu-width: 800px;
$mobile-breakpoint: 899px;
$desktop-breakpoint: 900px;
$search-bar-height: 30px;
$footer-height: 50px;

