.form-wrapper{
    margin: 16px;
    form {
        button {
            display: block;
            height: 40px;
            width:100%;
        }
        mat-form-field {
            width: 100%;
        }

    }

    &.reset {
        form {
            height: 200px;
            .email-input {
                position: relative;
                top: 32px;
            }
            button {
                position: relative;
                top: 100px;
            }
        }
    }
    .link-text {
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .forgot {
        margin-bottom: 16px;
    }
}
.errors {
    padding: 8px 16px 0px 16px;
}

.outer-wrapper {
    max-height:550px;
    min-height:516px;
}

.sign-up-divider {
    height: 40px;
    padding-top:10px;
    text-align: center;
}

.sign-in-divider {
    height:80px;
    padding-top:30px;
    text-align: center;
}

button.instagram {
    margin-bottom: 16px;
    display: grid;
    width: 235px;
    grid-template-columns: 40px auto;
    background-color: #3f729b !important;
    margin: 0 auto;
    height:35px;
    img {
        height:24px;
        margin-right: 16px;
    }
}

button.facebook {
    width: 235px;
    display: grid;
    background-color:  #4267B2 !important;
    margin: 0 auto;
    grid-template-columns: 40px auto;
    height:35px;
    img {
        height:30px;
        margin-right: 16px;
        margin-left:-5px;
    }
}

.button-wrap {
    display: flex;
    align-items: center;
}

.spacer {
    height:16px;
}

.loading-wrapper {
    display: grid;
    align-items: center;
    align-content: center;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.link-text {
    width:100%;
    text-align: center;
    margin-top:16px;
}

.link {
    font-weight: 500;
    cursor: pointer;
    &:hover {
        text-decoration:underline !important;
    }
}

.forgot {
    text-align: center;
}
