<app-center-modal>
  <div class="outer-wrapper">
    <div *ngIf="!loading" class="modal-header">
      <div class="title">
        <div>{{title}}</div>
      </div>
      <div class="close">
        <img (click)="close()" src="./assets/images/close.svg" />
      </div>
    </div>
    <ng-container *ngIf="!loading" mat-stretch-tabs>
      <ng-container [ngSwitch]="state">
        <ng-container *ngSwitchCase="'signin'">
          <div class="errors">
            <div *ngIf="signinError !== null" class="form-error">{{signinError}}</div>
          </div>
          <div class="form-wrapper">
            <form novalidate [formGroup]="signInForm">
              <div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Email" formControlName="email" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Password" type="password" formControlName="password" />
                </mat-form-field>
              </div>
              <div class="spacer"></div>
              <button mat-stroked-button class="primary" (click)="signin()" [disabled]="!signInForm.valid">
                <strong>
                  SIGN IN
                </strong>
              </button>
            </form>
            <div class="sign-in-divider">
              Or
            </div>
            <div class="spacer"></div>
            <button class="facebook primary" mat-stroked-button (click)="signInFacebook()">
              <div class="button-wrap"> <img src="./assets/images/facebook-color.png" /> <strong>Sign in with Facebook
                </strong> </div>
            </button>
            <div class="spacer"></div>
            <div class="link-text">
              Don't have an account?
              <a (click)="goTo('signup')" class="link" appClick target="_blank">
                Sign Up
              </a>
            </div>
            <div class="spacer"></div>
            <div class="forgot">
              <a class="link" (click)="forgot()">Forgot Password</a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'signup'">
          <div class="errors">
            <div *ngIf="emailError !== null" class="form-error">{{emailError}}</div>
            <div class="form-error" *ngIf="(passwordValue && passwordVerifyValue) && (passwordValue.length === passwordVerifyValue.length || !verify.focused)
              && signUpForm.invalid && signUpForm.errors && signUpForm.errors.passwordMatch">
              Passwords don't match
            </div>
          </div>
          <div class="form-wrapper">
            <form novalidate [formGroup]="signUpForm">
              <div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Email" formControlName="email" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Username" formControlName="username" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <input #password="matInput" matInput type="password" placeholder="Password"
                    formControlName="password" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <input #verify="matInput" matInput type="password" placeholder="Verify Password"
                    formControlName="verifyPassword" />
                </mat-form-field>
              </div>
              <button mat-stroked-button class="primary" (click)="signup()" [disabled]="!signUpForm.valid">
                <strong>
                  SIGN UP
                </strong>
              </button>
              <div class="sign-up-divider">
                Or
              </div>
            </form>
            <div class="spacer"></div>
            <button class="facebook primary" mat-stroked-button (click)="signUpFacebook()">
              <div class="button-wrap"> <img src="./assets/images/facebook-color.png" /> <strong>Sign up with Facebook
                </strong></div>
            </button>
            <div class="link-text">
              Already have an account?
              <a (click)="goTo('signin')" class="link" appClick target="_blank">
                Sign In
              </a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'reset'">
          <div class="form-wrapper reset">
            <div class="reset-text"> {{resetText}}</div>
            <form novalidate [formGroup]="resetForm">
              <div class="email-input">
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Email" formControlName="identifier" />
                </mat-form-field>
              </div>
              <button mat-stroked-button class="primary" (click)="reset()" [disabled]="!resetForm.valid">
                <strong>
                  SUBMIT
                </strong>
              </button>
            </form>
            <div class="spacer"></div>
            <div class="links">
              <div class="link-text">
                Already have an account?
                <a (click)="goTo('signin')" class="link" appClick target="_blank">
                  Sign In
                </a>
              </div>
              <div class="link-text">
                Don't have an account?
                <a (click)="goTo('signup')" class="link" appClick target="_blank">
                  Sign Up
                </a>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <div *ngIf="loading" class="loading-wrapper">
      <div class="loading">
        <mat-spinner diameter="25"></mat-spinner>
      </div>
    </div>
  </div>
</app-center-modal>