.form-wrapper{
    margin-top: 16px;
    form {
        button {
            display: block;
            height: 40px;
            width:100%;
        }
        mat-form-field {
            width: 100%;
        }
    }
    margin-left:16px;
    margin-right:16px;
}
.errors {
    padding: 8px 16px 0px 16px;
}

.outer-wrapper {
    height:500px;
}

.sign-up-divider {
    height: 40px;
    padding-top:10px;
    text-align: center;
}

.sign-in-divider {
    height:80px;
    padding-top:30px;
    text-align: center;
}

button.instagram {
    margin-bottom: 16px;
    display: grid;
    width: 235px;
    grid-template-columns: 40px auto;
    background-color: #3f729b !important;
    margin: 0 auto;
    img {
        height:24px;
        margin-right: 16px;
    }
}

button.facebook {
    width: 235px;
    display: grid;
    background-color:  #4267B2 !important;
    margin: 0 auto;
    grid-template-columns: 40px auto;
    img {
        height:30px;
        margin-right: 16px;
        margin-left:-5px;
    }
}

.spacer {
    height:16px;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {           
        width: 50px !important;
        height:50px !important;
    }
}
.header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 40px;
    .title {
        display: grid;
         align-content: center;
         div {
             text-align: center;
             font: 500 20px Roboto, sans-serif !important;
         }
    }
    .close {
        display: grid;
        align-content: center;
        img {
            width:40px;
            cursor: pointer;
        }
    }
}

.linkText {
    width:100%;
    text-align: center;
    margin-top:16px;
}

.link {
    text-decoration:underline;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        text-decoration:underline !important;
    }
}
