form {
    margin: 16px;
    .button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 16px;
        width: 100%;
    }
}

.inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height:425px;
    .form-wrapper {
        width: 100%;
    }
    .close {
        margin-right: 8px;
    }
}