@import '../../../../styles-variables.scss';

.products {

  .product-wrapper {
    background-color:white;

    &.create-item {
      cursor: pointer;
      .inner-wrapper {
        background-color: $medium-dark-background;
        display:flex;
        align-items: center;
        align-content: center;
        width: 100%;
        height:100%;
        .image-wrapper {
          width: 100%;
          img {
            width:100%;
            height:100%;
          }
        }
       }
      }
  }


  
    grid-template-rows: auto;
    display: grid;
    margin: auto;
    align-content: center;
    padding-top: 10px;


    @media (min-width:$desktop-breakpoint) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 285px));
        .product-wrapper {
            flex: 1 21%;
            margin:4%;
            z-index:2;
            border-radius: 8px;
            padding: 8px;
            &.hover {
              border: solid $medium-dark-background 1px;
              background-color: $medium-gray-background;
            }
            background-color: $background-gray;
        }
    }

    &.grid {
      @media (max-width: $mobile-breakpoint) {
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        .product-wrapper {
          flex: 1 40%;
          margin-bottom:5%;
          margin-left:3%;
          margin-right:3%;
          z-index:2;
          background-color: white;
          border: 1px solid #e6e6e6;
          border-radius: 4px;
          padding: 4px;
        }
      }
    }

    &.full {
      @media (max-width: $mobile-breakpoint) {
        grid-template-columns: repeat(1, 1fr) !important;
      .product-wrapper {
        margin:10px;
        z-index:2;
        background-color: white;
          border: 1px solid #e6e6e6;
          border-radius: 8px;
          padding: 16px;
        }
    }
  }
}
