<div class="products" [class.grid]="showGrid" [class.full]="!showGrid">
  <div (click)="onCreate($event)" class="product-wrapper create-item mat-elevation-z1" *ngIf="showCreate">
    <div class="inner-wrapper">
      <div class="image-wrapper">
        <img src="./assets/images/plus.png">
      </div>
    </div>
  </div>
  <div *ngFor="let product of products; let i = index" class="product-wrapper" (mouseenter)="onEnter(i)"
    (mouseleave)="onLeave()" [class.mat-elevation-z4]="hoverIndex === i">
    <app-product-list [showGrid]="showGrid" (edit)="onEdit($event)" [showHeader]="showHeader"
      (selectProduct)="gotToProduct($event)" [product]="product" [user]="user" [seller]="userId === product.sellerId">
    </app-product-list>
  </div>
</div>