@import '../../../../styles-variables.scss';

.products {

  grid-template-columns: repeat(2, 1fr);

  @media (min-width:$desktop-breakpoint) {
    grid-template-columns: repeat(4, 1fr);
  }
    grid-template-rows: auto;
    display: grid;
    margin: auto;
    align-content: center;
    padding-top: 10px;


    @media (min-width:$desktop-breakpoint) {
        .product-wrapper {
            flex: 1 21%;
            margin:4%;
            z-index:2;
            border: 1px solid #e6e6e6;
            border-radius: 8px;
            padding: 8px;
        }
    }

    &.grid {
      @media (max-width: $mobile-breakpoint) {
        .product-wrapper {
          flex: 1 40%;
          margin-bottom:5%;
          margin-left:3%;
          margin-right:3%;
          z-index:2;
          background-color: white;
          border: 1px solid #e6e6e6;
          border-radius: 4px;
          padding: 8px;
        }
      }
    }

    &.full {
      @media (max-width: $mobile-breakpoint) {
        grid-template-columns: repeat(1, 1fr) !important;
      .product-wrapper {
        margin:10px;
        z-index:2;
        background-color: white;
          border: 1px solid #e6e6e6;
          border-radius: 8px;
          padding: 16px;
        }
    }
  }
}
